body {
    position: relative;
    background-image: url(../../assets/adminbg.png);
    background-size:cover;
    background-color: gray;
}
.subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -10px;
}
/* The subnavigation menu */
.subnav {
    overflow: hidden;
}
    .subnav .subnav-content {
        z-index: 1;
    }
        .subnav .subnav-content a {
            padding: 0 25px 0 25px;
            color: white;
            font-size: 1.75rem;
            font-variant-caps: all-petite-caps;
            text-decoration: none;
        }
            .subnav .subnav-content a:hover {
                background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
                color: black;
            }

.hidden {
    display: none;
}

.cubeWrapper {
    position: relative;
    width: 100%;
    margin: 15px 0 0 0;
}
.cubes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
    .cubes .newRow {
        display: flex;
        width: 51%;
        align-items: center;
        justify-content: center;
    }

.cubeP {
    height: 500px;
    width: 600px;
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 2px 3px rgba(0,0,0,0.1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.cube {
    height: 225px;
    width: 200px;
    background-size: cover;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 2px 3px rgba(0,0,0,0.1);
    position: relative;
    margin: 0 5px 15px 5px;
    transition: 0.2s ease;
    overflow: hidden;
}
    .cube img {
        height: 100%;
        width: 100%;
    }
    .cube:hover {
        cursor: pointer;
        width: 300px;
    }

.content {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease;
    z-index: 2;
}
    .content h1 {
        text-align: center;
        color: #fff;
        width: 95%;
        display: inline-block;
        margin: 5px 0 0 0;
        font-size: 2rem;
    }
    .content h2 {
        text-align: center;
        color: #fff;
        display: inline-block;
        margin: 0 0 5px 0;
        font-size: 0.8rem;
    }
    .content p {
        text-align: center;
        margin: 0;
        color: #fff;
        width: 90%;
        font-size: 1rem;
        display: inline-block;
    }
    .content:hover {
        opacity: 1;
        background: rgba(0, 0, 0, 0.8);
    }

/* Principle */
.principle {
    background-image: url('../../assets/teachers/Jadzi_the_Oracle.png');
}