body {
    position: relative;
    background-image: url(../../assets/adminbg.png);
    background-size:cover;
    background-color: gray;
}
.subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -10px;
}
/* The subnavigation menu */
.subnav {
    overflow: hidden;
}
    .subnav .subnav-content {
        z-index: 1;
    }
        .subnav .subnav-content a {
            margin: 30px;
            padding: 20px;
            color: white;
            font-size: 2rem;
            font-variant-caps: all-petite-caps;
            text-decoration: none;
        }
            .subnav .subnav-content a:hover {
                background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
                color: black;
            }

.hidden {
    display: none;
}

:root {
    --hsize: 200px;
    --wsize: 200px;
}

.admin {
    position: relative;
    margin-top: 2%;
}
    .admin .deans {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 0;
    }
    .admin .profs {
        position: absolute;
        left: 50%;
        top: calc(var(--hsize)*1.1);
        transform: translate(-50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        .admin .profs .top {
            display: flex;

        }
        .admin .profs .bot {
            display: flex;
        }
        .admin .profs .extras {
            display: flex;
            display: none;
        }
        .admin div {
        }
        .admin div .timg {
            margin: 5px 5px 5px 5px;
            padding: 5px 15px 5px 15px;
            height: var(--hsize);
            width: var(--wsize);
        }
    .admin .timg img {
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transition-duration: 0.5s;
        object-fit: cover;
    }
        .admin .timg img:hover {
            border-radius: 0;
            cursor: pointer;
        }

.prin {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
    .prin .pimg {
        margin: 15px 5px 5px 5px;
        height: 75%;
        width: 100%;
    }
        .prin .pimg img {
            height: 75%;
            width: 75%;
            border-radius: 100%;
            transition-duration: 0.5s;
            object-fit: cover;
        }


.pos-top {
    object-position: top;
}

.model {
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    padding: 50px;
    height: 60%;
    width: 60%;
    border-radius: 30px;
    background-color: lightseagreen;
    position: absolute;
    bottom: 6vh;
    left: 50%;
    transform: translate(-50%);
    transition-duration: 1s;
    z-index: 90;
}
    .model .closebtn {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 40px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        align-content:center;
        color: darkslategray;
        z-index: 10;
    }
        .model .closebtn:hover {
            cursor: pointer;
        }
    .model .Hname{
        font-size: 45px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    .model .Hprof {
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }
    .model .content {
        display: flex;
    }
        .model .content .left {
            max-width: 50%;
            min-height: 100%;
            min-width: 50%;
            margin: 5px;
            height: 50vh;
        }
            .model .content .left img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        .model .content .right {
            padding-left: 10px;
            padding-right: 10px;
            width: 50%;
            margin: 5px;
            height: 90%;
            /* Text Styling */
            font-size: 20px;
            text-align: justify;
        }
    .model p {
        margin: 0;
        padding: 0;
        font-family: 'Ramus', sans-serif;
    }

@media (max-width: 375px) {
    :root {
        --hsize: 50px;
        --wsize: 50px;
    }

    .admin div .timg {
        margin: 0px 0px 0px 0px;
        padding: 5px 5px 5px 5px;
    }

    .subtitle {
        font-size: 1.25rem;
    }
}