body{
    background-color: gray;
}
.container {
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.container div {
    flex: 1;
    padding: 10px;
    height: 150px;
    border: black solid 1px;
    text-align: center;
}
    .container img {
        height: 100%;
    } 