.wrapper {
    clear: both;
    margin-bottom: 10px;
    height: 80vh;
    display: flex;
}
    .wrapper nav {
        height: 100%;
        width: 250px;
        z-index: 1;
        background-color: #111;
        /* overflow-x: hidden; */
    }
    .wrapper main {
        margin-left: 1%;
        width: 100%;
        max-height: 100%;
        height: 2000px;
    }

.header {
    clear: both;
    margin-bottom: 10px;
    height: 10vh;
    display: flex;
}
.header .logo {
    height: 100%;
    background-color: grey;
    margin-bottom: 1%;
}
    .header .logo img {
        flex: 1;
        height: 100%;
    }
    .header .pagetitle {
        flex: 2;
        text-align: center;
        height: 100%;
    }
    .header .loginlayout {
        flex: 3;
        text-align: right;
    }

footer {
    margin-top: 10px;
    height: 5vh;
    border: 1px solid #000000;
}