/* Debug */
div, footer, nav {
    /* border: 1px solid #000000; */
}

/* Layout // All pages */
body{
    position: relative;
    background-color: gray;
}

/* Admin Page */
main{
    
}

.subtitle{
    font-size: 21px;
}


/* The subnavigation menu */
.subnav {
    overflow: hidden;
}
    .subnav  .subnav-content {
        z-index: 1;
    }
        .subnav  .subnav-content a {
            padding: 10px;
            color: white;
            font-size: 18px;
            font-variant-caps: all-petite-caps;
            text-decoration: none;
        }
            .subnav .subnav-content a:hover {
                background-color: #eee;
                color: black;
            }

.hidden{
    display: none;
}

:root {
    --hsize: 15vh;
    --wsize: 8vw;
}
.admin{
    display: flex;
    width: 100%;
    height: 100%;
}
    .admin .deans {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .admin .profs {
        display: flex;
        position: absolute;
        top: calc(var(--hsize)*1.5);
    }
    .admin .timg {
        padding: 5px 15px 5px 15px;
        max-height: var(--hsize);
        max-width: var(--wsize);
        min-height: var(--hsize);
        min-width: var(--wsize);
    }
        .admin .timg img {
            height: 100%;
            width: 100%;
            border-radius: 100%;
            transition-duration: 1s;
            object-fit: cover;
        }
        .admin .timg img:hover {
            border-radius: 0;
        }
