/* Debug */
div, footer, nav {
    /* border: 1px solid #000000; */
}

/* Layout // All pages */
body{
    position: relative;
    background-color: black;
    overflow: auto;
}

/* Page */
header{
    background-color: darkviolet;
    height: 100px;
}
    header .pagetitle {
        font-size: 3rem;
    }
    main{
        margin: 0;
        height: calc(100% - 100px);
        display: flex;
    }

.leftnav {
    background-color: white;
    width: 350px;
    height: 100%;
    position: relative;
}
    .leftnav .block {
        width: 100%;
        height: 100px;
    }
    .leftnav .choices {
        width: 100%;
    }
        .leftnav .choices .choice {
            text-align: center;
            margin: 0;
            padding: 20px;
        }
            .leftnav .choices .choice:hover {
                background-color: rgb(227,28,121, 0.2);
                color: rgb(227,28,121);
            }
        .leftnav .choices .selected {
            border-left: 5px solid hotpink;
            border-right: 5px solid hotpink;
            background-color: rgb(227,28,121, 0.2);
            color: rgb(227,28,121);
        }

:root {
    --titleheight: 45px;
    --mainbodyheight: calc(100% - var(--titleheight));
}
:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --speed: 7s;
}
::placeholder {
    color: white;
    opacity: 1;
}

.mainpage {
    height: var(--mainbodyheight);
    width: calc(100% - 350px);
    position: relative;
}
    .mainpage div {
        width: auto;
        height: auto;
    }
    .mainpage h2 {
        height: var(--titleheight);
        margin: 10px 0 0 0;
        font-size: 2rem;
    }
    .mainpage .page {
        color: white;
        height: auto;
    }
    .mainpage .top {
        display: flex;
        height: 340px;
        width: 100%;
        position: relative;
    }
    .mainpage .bottom {
        display: flex;
        height: calc(100% - 360px);
        width: 100%;
        position: relative;
    }
    .mainpage input, .mainpage textarea {
        background-color: transparent;
        border: none;
        text-align: center;
        color: white;
    }
    .mainpage input {
        text-align: left;
        width: 450px;
        padding: 5px 0 5px 10px;
    }
        .mainpage input:enabled {
            border: 2px solid white;
        }
    .mainpage textarea {
        border: 2px solid white;
    }
    .mainpage textarea:read-only {
        border: none;
    }
        


    .mainpage .controls  {
        position: absolute;
        top: -10px;
        right: 0;
        padding: 5px;
        display: flex;
    }
        .mainpage .controls button {
            font-size: 2rem;
            padding: 5px;
            background-color: transparent;
            color: white;
            border: none;
        }
        .mainpage .controls .control:hover {
            color: darkgoldenrod;
            cursor: pointer;
        }
            .mainpage .controls button + button {
                margin-left: 5px;
            }
        .mainpage .controls .activecontrol {
            color: hotpink;
        }
            .mainpage .controls .activecontrol:hover {
                cursor: pointer;
            }

    .mainpage #profile {
        position: relative;
    }
        .mainpage #profile .card {
            height: 325px;
            max-width: 225px;
            margin: 0px 0 0 50px;
            flex: 1;
        }
            .mainpage #profile .card img {
                height: 100%;
                border-radius: 5%;
                box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255,255,255,0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
            }
                .mainpage #profile .card img:hover {
                    box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255,255,255,0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
                    transition: box-shadow 0.1s ease-out;
                }
            .mainpage #profile form {
                flex: 2;
                text-align: right;
            }
                .mainpage #profile form label {
                    display: block;
                    margin: 10px;
                }


                .mainpage #profile form .formfield {
                    display: flex;
                    height: 239px;
                }
                    .mainpage #profile form .formfield label {
                        flex: 1;
                        margin: 0 5px 0 20px;
                    }
                    .mainpage #profile form .formfield textarea {
                        flex: 2.7;
                        height: 225px;
                        width: 450px;
                        resize: none;
                        margin: 0 10px 0 0;
                    }
        .mainpage #profile form label textarea {
            height: 225px;
        }
        .mainpage #profile .personality {
            width: 100%;
            height: calc(100% - 15px);
            margin-top: 5px;
            text-align: right;
            flex: 1;
        }
            .mainpage #profile .personality .personal {
                text-align: right;
                display: flex;
                width: calc(100% - 50px);
                padding: 0 0 0 50px;
                height: calc(100% / 5);
            }
                .mainpage #profile .personality .personal p, .mainpage #profile .personality .personal textarea {
                    height: calc(100% / 5);
                }
                .mainpage #profile .personality .personal p {
                    color: white;
                    max-width: 20%;
                    padding: 0 5px 5px 5px;
                    margin: 0 15px 5px 5px;
                    flex: 1;
                }
                .mainpage #profile .personality .personal textarea {
                    width: calc(100% - 20%);
                    height: calc(100% - 10px);
                    margin: 5px 10px 0 10px;
                    resize: none;
                    flex: 1;
                    color: white;
                    text-align: center;
                    background-color: transparent;
                }
                .mainpage #profile .right {
                    flex: 1;
                }
                    .mainpage #profile .right .formfield {
                        height: 50%;
                        display: flex;
                    }
                        .mainpage #profile .right .formfield label {
                            flex: 1;
                        }
                        .mainpage #profile .right .formfield textarea {
                            flex: 1;
                            margin: 0 10px 0 0;
                            resize: none;
                        }

.mainpage #details {
    position: relative;
}
        .mainpage #details .mainpage {
            display: flex;
        }
            .mainpage #details .mainpage .split {
                flex: 1;
                display: flex;
                height: calc(100% - 50px);
                margin: 0 50px 0 50px;
                padding-bottom: 50px;
            }
                .mainpage #details .mainpage .split p {
                    margin: 0;
                    flex: 0.5;
                }
                .mainpage #details .mainpage .split textarea {
                    flex: 1;
                    resize: none;
                }


        .mainpage #courses {
        }
    .mainpage #exams {
    }
    .mainpage #relationships {
    }
    .mainpage #jobandextra {
    }
    .mainpage #account {
    }