body {
    /* overflow-y: hidden;
    overflow-x: hidden; */
    background-image: url(../assets/MtG_background.jpg);
    background-size: cover;
    background-color: gray;
    padding: 2vh;
}

.logo {
    height: 20%;
    width: 100%;
}

.menu {
    overflow: hidden;
    width: 10%;
    max-height: 80%;
    height: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
}
    .menu button {
        margin-top: 10%;
        height: 20%;
        width: 80%;
        border-radius: 50%;
        border-width: 0;
    }

.loginlayout {
    position: relative;
    padding: 1%;
    float: right;
    margin: 1vh;
    z-index: 1000;
}

main {
    position: absolute;
    top: 3vh;
    right: 3vh;
    height: 80%;
    width: 85%;
    z-index: 0;
}

.pagetitle {
    margin-left : -20px;
    font-size: 34px;
    font-family: 'Sacred Bridge Demo', sans-serif;
}

.image-background-text {
    
    margin-top: 100px;
    padding-left: 13.25%;
    padding-right: 27.25%;
}



.text-overlay {
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: transparent;
    font-size: 1.75vh;
    font-family: 'Ramus', sans-serif;
}

.quote {
    font-family: 'Goudy Old Style', sans-serif;
    font-size: 18px;
    font-style: italic;
}

.pagetitle h1 {
    background-image: url(https://media0.giphy.com/media/YqhIK6Gbor6CLeloBq/giphy.gif?cid=790b7611d1c5a31fa7f5f0c456cdabfea53597097945555c&rid=giphy.gif&ct=g);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}