body {
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Debug layout */
div, footer, nav {
    /* border: 1px solid #000000; */
}

.wrapper {
    clear: both;
    margin-bottom: 10px;
    height: 70vh;
    display: flex;
}
    .wrapper main {
        position:fixed; 
        margin-left: 270px;
        right: 20px;
        max-height: 100%;
        height: 2000px;
    }

.header {
    clear: both;
    margin-bottom: 10px;
    height: 20vh;
    display: flex;
}
    .header .logo {
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-right: 10px;
    }
    .header .logo img {
        flex: 1;
        height: 100%;
    }
    .header .pagetitle {
        flex: 2;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        font-size: 35px;
        font-weight: bold;
        font-family: 'Mathovia Script', sans-serif;
        letter-spacing: .2rem;
    }

        .header .pagetitle {
            initial-letter: 1.5;
        }

        .header .loginlayout {
            margin-top: 5px;
            margin-left: 10px;
            margin-bottom: 5px;
            margin-right: 10px;
            flex: 1;
            text-align: right;
        }

footer {
    margin-top: 10px;
    height: 5vh;
    text-align: center;
    display: flex;
}
    footer .leftspacer {
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-right: 10px;
        height: 70%;
        width: 10%;
    }
    footer .middlespacer {
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-right: 10px;
        height: 70%;
        width: 50%;
    }
    footer .rightspacer {
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-right: 10px;
        height: 70%;
        width: 100%;
        text-align: right;
        color: gray;
        text-decoration: none;
    }
    footer .rightspacer a {
        text-align: right;
        color: gray;
    }
    footer .cover {
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-right: 10px;
        height: 70%;
        width: 10%;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: none;
    }
    footer .cover:hover {
        background-color: transparent;
    }