.sidebar {
    height: 98%;
    width: 36px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    z-index: 1;
    overflow-x: hidden;
    font-family: 'Ramus', sans-serif;
}
    .sidebar a:nth-child(1) {
        padding-top: 0%;
        padding-left: 1%;
        padding-right: 2%;
        padding-bottom: 1%;
        text-align: left;
        margin: 2%;
        font-size: 36px;
        text-decoration: none;
        color: black;
        display: block;
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        transition: 0.3s;
    }
    .sidebar a:nth-child(n+2) {
        margin: 1%;
        padding-top: 0%;
        padding-left: 1%;
        padding-right: 3%;
        padding-bottom: 5%;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: none;
        transition: 0.3s;
        text-align: left;
        vertical-align: middle;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .sidebar a:hover {
        background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
    }

/* On screens, where height is less than 450px */
@media screen and (max-height: 450px) {
    .sidebar {
        width: 18px;
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}
