body {
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

main {
    height: 98vh;
    background-color: grey;
    align-items: center;    
    text-align: center;
}

select {
    width : 80%;
    text-align: center;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

.left-content {
    float: left;
    width: 48%;
    margin: 1%;
    padding-bottom: 1%;
}

.right-content {
    float: right;
    width: 48%;
    margin: 1%;
    padding-bottom: 1%;
}

.peopleInfo {
    width: 95%;
    text-align: left;
}