<nav id="navigation" hidden>
    <div class="cover">
        <div class="top">
            <a id="navcontroller" class="fa fa-times" onclick="swapnav('close')"></a>
        </div>
        <div class="mid">
            <div class="navoption">
                <a onclick="gopage('home')" id="homebtn">Home Page</a>
            </div>
            <div class="navoption">
                <a onclick="gopage('about')" id="aboutbtn">About Strixhaven</a>
            </div>
            <div class="navoption">
                <a onclick="gopage('maps')" id="campmap">University Information</a>
            </div>
            <div class="navoption">
                <a onclick="gopage('news')" id="news">Strixhaven Star</a>
            </div>
            <div class="navoption">
                <a onclick="gopage('activities')" id="extcurr">Extracurriculars</a>
            </div>
            <div class="navoption">
                <a onclick="gopage('admin')" id="admin">Admininstration</a>
            </div>
        </div>
        <div class="bot">
            <input type="text" placeholder="Username" id="User" />
            <input type="password" placeholder="Password" id="Pass" />
            <button type="submit" id="logsub">Login</button>
        </div>
    </div>
</nav>