<nav id="navigation" hidden>
    <div class="cover">
        <div class="top">
            <a id="navcontroller" class="fa fa-times" onclick="swapnav('close')"></a>
        </div>
        <ul>
            <li>
                <a onclick="gopage('home')" id="homebtn">Home</a>
            </li>
            <li>
                <a onclick="gopage('about')" id="aboutbtn">About</a>
            </li>
            <li>
                <a onclick="gopage('maps')" id="campmap">University Information</a>
            </li>
            <li>
                <a onclick="gopage('news')" id="news">Strixhaven Star</a>
            </li>
            <li>
                <a onclick="gopage('activities')" id="extcurr">Extracurriculars</a>
            </li>
            <li>
                <a onclick="gopage('admin')" id="admin">Admininstration</a>
            </li>
            <li>
                <a onclick="gopage('login')" id="login">Login</a>
            </li>
        </ul>
    </div>
</nav>