header .logo{
    display: none;
}
header .thenavigation {
    color: white;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    .video-container video {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
    .video-container:after {
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }

.mainwrapper {
    position: absolute;
    top: 8px;
    left: 8px;
    display: inline-flex;
    height: calc(100vh - 16px);
    width: calc(100vw - 16px);
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
    .mainwrapper div {
        padding: 5px;
        font-size: 5vw;
        font-family: 'Autumn Flowers', sans-serif;
        color: goldenrod;
    }
    .mainwrapper .left {
        width: 33%;
        text-align: right;

    }
    .mainwrapper .middle {
        width: 17vw;
        height: 34vh; /* Needs to be *2 of width */
    }
    .mainwrapper .middle img{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .mainwrapper .right {
        width: 33%;
        text-align: left;
    }