nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
}
    nav .cover {
        background-color: black;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 105;
        height: 100%;
        width: 100%;
    }
    nav .NavContainer {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 80% - 10px);
        height: calc(100% - 10px);
        text-align: center;
        padding: 5px;
        z-index: 110;
        background-color: black;
    }
        nav .NavContainer .bgvid {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            max-width: 100%;
        }
        nav .NavContainer .close {
            text-align: right;
            font-size: 2.5rem;
            z-index: 105;
            height: 40px;
            color: white;
        }
            nav .NavContainer .close:hover {
                color: darkgoldenrod;
                cursor: pointer;
            }
        nav .NavContainer .NavSubContainer {
            text-align: center;
            font-size: 2.2rem;
            height: calc(100% - 40px);
            color: white;
            position: relative;
            padding-top: 45px;
        }
        nav .NavContainer .NavSubContainer .logState{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 25%;
        }
        nav .NavContainer .NavSubContainer a {
            display: inline-table;
            width: 100%;
            height: auto;
            margin-bottom: 25px;
        }
            nav .NavContainer .NavSubContainer a:hover {
                cursor: pointer;
                color: darkgoldenrod;
            }

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0.5;
}
    footer div {
        padding: 5px 5px 15px 5px;
        position: relative;
        width: 100%;
        text-align: center;
        color: darkgoldenrod;
        font-size: 2vh;
    }
        footer div a {
            text-align: right;
            color: darkgoldenrod;
            font-size: 2vh;
        }