<input type="text" placeholder="Student Name" id="stuname" />
<input type="text" placeholder="Student Age" id="stuage" />
<input type="text" placeholder="Student Gender" id="stugender" />
<input type="text" placeholder="Student Race" id="sturace" />
<select id="stuhouse">
    <option>First Year</option>
    <option>Lorehold</option>
    <option>Prismari</option>
    <option>Winterbloom</option>
    <option>Quandrix</option>
    <option>Silverquill</option>
</select>
<input type="text" placeholder="Student Player (leave blank if NPC)" id="stuplayer" />