#bg1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #020302), color-stop(0.3023333, #06162b), color-stop(0.45324364471724005, #0b2a55), color-stop(0.6496666, #06162b), color-stop(0.99999989489998, #020302));
}

#particleGenerator {
    height: 0;
}

header {
    position: relative;
    height: 100px;
    width: 100%;
    z-index: 10;
}
    header .logo {
        width: 342px;
    }
    header #unilogo {
        display: none;
    }
    header .pagetitle {
        font-family: 'posting', sans-serif;
        font-size: 4rem;
        text-shadow: none;
        -webkit-text-stroke: 0px black;
        width: calc(100% - 342px - 74px);
    }
    header .thenavigation {
        width: auto;
        z-index: 10;
    }
        header .thenavigation .hamburger {
            color: white;
            z-index: 10;
        }

.particle {
    opacity: 0;
    position: absolute;
    -webkit-animation: particleAnim 3s ease-in-out infinite;
    animation: particleAnim 3s ease-in-out infinite;
    border-radius: 100%;
}

@-webkit-keyframes particleAnim {
    0% {
        opacity: 0;
        transform: translateY(-0%);
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1500%);
    }
}

@keyframes particleAnim {
    0% {
        opacity: 0;
        transform: translateY(-0%);
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1500%);
    }
}

/**/
main {
    margin: 0;
    height: calc(100% - 100px);
    display: flex;
}

:root {
    --titleheight: 45px;
    --mainbodyheight: calc(100% - var(--titleheight));
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --speed: 7s;
}

::placeholder {
    color: white;
    opacity: 1;
}

.leftnav {
    background-color: white;
    width: 350px;
    height: calc(100% + 100px);
    position: absolute;
    top: -100px;
    position: relative;
}
    .leftnav .block {
        width: 100%;
        height: 150px;
    }
        .leftnav .block img {
            height: calc(100% - 30px);
            margin: 15px
        }
    .leftnav .choices {
        width: 100%;
    }
        .leftnav .choices .choice {
            background-color: white;
            position: relative;
            padding: 20px;
            height: auto;
            width: 300px;
        }
            .leftnav .choices .choice:hover {
                background-color: rgb(227,28,121, 0.2);
                color: rgb(227,28,121);
                border-left: 5px solid hotpink;
                border-right: 5px solid hotpink;
            }
            .leftnav .choices .choice:hover ul {
                display: block;
            }
        .leftnav .choices .selected {
            border-left: 5px solid hotpink;
            border-right: 5px solid hotpink;
            background-color: rgb(227,28,121, 0.2);
            color: rgb(227,28,121);
        }

button {
    padding: 0;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
    .subbtn {
        flex: 1;
        display: flex;
        width: 100%;
        text-align: left;
    }
    .dropdown-btn i {
        flex: 1;
        margin: 16px 0 16px 0;
        text-align: right;
    }
.active {
    color: darkgoldenrod;
}
.dropdown-container {
    display: none;
    color: darkgoldenrod;
}
    .dropdown-container p {
        flex: 1;
        text-align: center;
        margin: 0;
    }
    .dropdown-container p, .dropdown-container i {
        padding: 10px 0 5px 0;
    }
        .dropdown-container p:hover, .dropdown-container p:hover i, .dropdown-container i:hover p, .dropdown-container i:hover {
            color: hotpink;
        }
.sub {
    display: none;
    width: 100%;
    color: black;
}
.sub p {
    height: auto;
    margin: 0;
    text-align: right;
    padding: 10px 20px 10px 20px;
    vertical-align: middle;
}
    .sub p:hover {
        background-color: rgb(227,28,121, 0.2);
        color: rgb(227,28,121);
        cursor: pointer;
    }

.mainpage {
    height: var(--mainbodyheight);
    width: calc(100% - 350px);
    position: relative;
}
    .mainpage div {
        width: auto;
        height: auto;
    }
    .mainpage h2 {
        height: var(--titleheight);
        margin: 10px 0 0 0;
        font-size: 2rem;
    }
    .mainpage .page {
        color: white;
        height: auto;
    }
    .mainpage .top {
        display: flex;
        height: 340px;
        width: 100%;
        position: relative;
    }
    .mainpage .bottom {
        display: flex;
        height: calc(100% - 360px);
        width: 100%;
        position: relative;
    }
    .mainpage label, .mainpage p {
        font-family: 'Valneck';
        font-size: 1.1rem;
    }
    .mainpage input, .mainpage textarea, .mainpage #npcs form label select {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        text-align: center;
        color: white;
        font-family: Arial;
    }
    .mainpage .srcSelector {
        position: absolute;
        top: 25px;
        left: 225px;
    }
        .mainpage #npcs form label select{
            text-align: left;
            flex: 1;
            padding: 5px 0 5px 5px;
            border: 2px solid white;
        }
    .mainpage #npcs form label select:disabled {
        opacity: 1;
        border: none;
    }
        .mainpage #npcs form label option {
            color: black;
        }

    .mainpage input, .mainpage textarea, .mainpage p{
        font-size: 0.9rem;
    }
    .mainpage input {
        text-align: left;
        width: 450px;
        padding: 5px 0 5px 10px;
    }
        .mainpage input:enabled {
            border: 2px solid white;
        }
    .mainpage textarea {
        border: 2px solid white;
    }
        .mainpage textarea:read-only {
            border: none;
        }
    .mainpage .controls {
        position: absolute;
        top: -10px;
        right: 0;
        padding: 5px;
        display: flex;
        z-index: 5;
    }
        .mainpage .controls button {
            font-size: 2rem;
            padding: 5px;
            background-color: transparent;
            color: white;
            border: none;
        }
        .mainpage .controls .control:hover {
            color: darkgoldenrod;
            cursor: pointer;
        }
        .mainpage .controls button + button {
            margin-left: 5px;
        }
        .mainpage .controls .activecontrol {
            color: hotpink;
        }
            .mainpage .controls .activecontrol:hover {
                cursor: pointer;
            }

    .mainpage #profile {
        position: relative;
    }
        .mainpage #profile .card {
            height: 325px;
            max-width: 225px;
            margin: 0px 0 0 50px;
            flex: 1;
        }
            .mainpage #profile .card img {
                height: 100%;
                border-radius: 5%;
                box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255,255,255,0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
            }
                .mainpage #profile .card img:hover {
                    box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255,255,255,0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
                    transition: box-shadow 0.1s ease-out;
                }
        .mainpage #profile form {
            flex: 2;
            text-align: right;
        }
            .mainpage #profile form label {
                display: block;
                margin: 10px;
            }
            .mainpage #profile form .formfield {
                display: flex;
                height: 239px;
            }
                .mainpage #profile form .formfield label {
                    flex: 1;
                    margin: 0 5px 0 20px;
                }
                .mainpage #profile form .formfield textarea {
                    flex: 2.7;
                    height: 225px;
                    width: 450px;
                    resize: none;
                    margin: 0 10px 0 0;
                }
            .mainpage #profile form label textarea {
                height: 225px;
            }
        .mainpage #profile .personality {
            width: 100%;
            height: calc(100% - 15px);
            margin-top: 5px;
            text-align: right;
            flex: 1;
        }
            .mainpage #profile .personality .personal {
                text-align: right;
                display: flex;
                width: calc(100% - 50px);
                padding: 0 0 0 50px;
                height: calc(100% / 5);
            }
                .mainpage #profile .personality .personal p, .mainpage #profile .personality .personal textarea {
                    height: calc(100% / 5);
                }
                .mainpage #profile .personality .personal p {
                    color: white;
                    max-width: 20%;
                    padding: 0 5px 5px 5px;
                    margin: 0 15px 5px 5px;
                    flex: 1;
                }
                .mainpage #profile .personality .personal textarea {
                    width: calc(100% - 20%);
                    height: calc(100% - 10px);
                    min-height: calc(100% - 10px);
                    margin: 5px 10px 0 10px;
                    resize: none;
                    flex: 1;
                    color: white;
                    text-align: center;
                    background-color: transparent;
                }
        .mainpage #profile .right {
            flex: 1;
        }
            .mainpage #profile .right .formfield {
                height: 50%;
                display: flex;
            }
                .mainpage #profile .right .formfield label {
                    flex: 0.7;
                }
                .mainpage #profile .right .formfield textarea {
                    flex: 1;
                    margin: 0 10px 0 0;
                    height: calc(100% - 10px);
                    resize: none;
                }
        .mainpage #profile select {
            text-align: left;
            width: 450px;
            opacity: 1;
            color: white;
            border: none;
            background-color: transparent;
            padding: 5px 0 5px 10px;
        }
            .mainpage #profile .selected:disabled {
                -webkit-appearance: none;
                -moz-appearance: none;
            }
        .mainpage #profile option {
            color: black;
        }

    .mainpage #details {
        position: relative;
    }
        .mainpage #details .splitbody {
            display: flex;
            height: calc(100% - 45px);
        }
            .mainpage #details .splitbody .split {
                flex: 1;
                height: 100%;
                margin: 0 50px 0 50px;
                padding-bottom: 50px;
            }
                .mainpage #details .splitbody .split p {
                    margin: 0;
                    text-align: center;
                    font-size: 1.5rem;
                }
                .mainpage #details .splitbody .split textarea {
                    resize: none;
                    height: calc(100% - 30px);
                    width: 100%;
                }

    .mainpage #courses {
    }
        .mainpage #courses .top, .mainpage #courses .bottom {
            height: 49%;
        }
        .mainpage #courses .year {
            flex: 1;
            margin: 20px 50px 20px 50px;
            height: calc(100% - 40px);
            width: 200px;
            border-radius: 10px;
            position: relative;
            min-width: 320px;
            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            background-image: linear-gradient(to right, transparent 10%, black 90%);
        }
        .mainpage #courses select:disabled {
            opacity: 1;
            color: white;
            border: none;
            background-color: transparent;
        }
        .mainpage #courses .year h3 {
            margin: 0;
            padding: 10px;
            font-family: 'Valneck';
            position: absolute;
            top: -10px;
            right: 30px;
            font-size: 8rem;
            color: rgba(255, 255, 255, 0.1);
        }
            .mainpage #courses .year + .year {
                margin: 20px 50px 20px 0;
            }
        .mainpage #courses .year .coursechoices {
            position: relative;
            margin-top: 40px;
            height: calc(100% - 47px - 20px);
        }
                .mainpage #courses .year .coursechoices .coursechoice {
                    margin: 10px;
                    display: flex;
                    height: calc(100% / 4);
                    z-index: 0;
                }
                    .mainpage #courses .year .coursechoices .coursechoice select {
                        margin: 0 20px 0;
                        padding: 10px;
                        width: calc(auto + 20px);
                        height: 40px;
                    }
                    .mainpage #courses .year .coursechoices .coursechoice p {
                        padding: 10px;
                        margin: 0;
                    }

    .mainpage #exams {
    }
        .mainpage #exams .top, .mainpage #courses .bottom {
            height: 49%;
        }
        .mainpage #exams .year {
            flex: 1;
            margin: 20px 50px 20px 50px;
            height: 367.672px;
            width: 200px;
            border-radius: 10px;
            position: relative;
            min-width: 320px;
            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            background-image: linear-gradient(to right, transparent 10%, black 90%);
        }
        .mainpage #exams select:disabled {
            opacity: 1;
            color: white;
            border: none;
            background-color: transparent;
        }
        .mainpage #exams .year h3 {
            margin: 0;
            padding: 10px;
            font-family: 'Valneck';
            position: absolute;
            top: -10px;
            right: 30px;
            font-size: 8rem;
            color: rgba(255, 255, 255, 0.1);
        }
        .mainpage #exams .year + .year {
            margin: 20px 50px 20px 0;
        }
        .mainpage #exams .year .exams {
            position: relative;
            margin-top: 40px;
            height: calc(100% - 47px - 20px);
        }
            .mainpage #exams .year .exams div {
                display: flex;
                width: calc(100% - 20px);
                padding: 10px;
                height: calc(100% / 3 - 20px);
            }
                    .mainpage #exams .year .exams div p, .mainpage #exams .year .exams div select {
                        flex: 1;
                        text-align: left;
                        margin: 0 0 0 15px;
                        padding: 0;
                    }
                    .mainpage #exams .year .exams div select {
                        height: 50px;
                    }

    .mainpage #relationships {
    }
        .mainpage #relationships .cubeWrapper {
            margin: 20px 0 20px 0;
        }
        .mainpage #relationships .cubeWrapper #cubes {
            padding: 0 50px 0 50px;
            display: flex;
            flex-wrap: wrap;
        }
            .mainpage #relationships .cubeWrapper #cubes .cube {
                flex: 1 1 30%;
                height: 45px;
                width: 200px;
                border: 2px solid #fff;
                box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 2px 3px rgba(0,0,0,0.1);
                position: relative;
                margin: 0 5px 15px 5px;
                transition: 0.2s ease;
                overflow: hidden;
            }
                .mainpage #relationships .cubeWrapper #cubes .cube:hover {
                    height: auto;
                    width: 200px;
                }
                .mainpage #relationships .cubeWrapper #cubes .cube div {
                    display:flex;
                    margin: 10px;
                }
                    .mainpage #relationships .cubeWrapper #cubes .cube .cname,
                    .mainpage #relationships .cubeWrapper #cubes .cube div span {
                        font-family: 'Valneck';
                        text-align: left;
                    }
                .mainpage #relationships .cubeWrapper #cubes .cube .cname {
                    margin: 10px;
                }
                        .mainpage #relationships .cubeWrapper #cubes .cube div p {
                            margin: 1px 0 0 10px;
                            font-family: Arial;
                            font-size: 1rem;
                        }
                .mainpage #relationships .cubeWrapper #cubes .cube div input {
                    width: auto;
                    margin: 1px 0 0 10px;
                }
                .mainpage #relationships .cubeWrapper #cubes .cube div .scoreTitle {
                    margin: 5px 0 0 0;
                }
                .mainpage #relationships .cubeWrapper #cubes .cube button {
                    color: white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: auto;
                    padding: 0 10px 0 10px;
                    height: 45px;
                    text-align: center;
                    font-size: 1.2rem;
                }
                .mainpage #relationships .relationshipInputs {
                    display: flex;
                    flex-direction: column;
                    margin: 0 100px 0 100px;
                }
                    .mainpage #relationships .relationshipInputs label{
                        display: flex;
                    }
                        .mainpage #relationships .relationshipInputs label p, .mainpage #relationships .relationshipInputs label input {
                            flex: 1;
                        }
                            .mainpage #relationships .relationshipInputs label input{
                                margin-left: 20px;
                            }
                            .mainpage #relationships #addModel {
                                border: 2px white solid;
                                text-align: center;
                                height: 100%;
                                width: 400px;
                                position: absolute;
                                top: 0;
                                right: 0;
                                background-color: black;
                                color: white;
                            }
                                .mainpage #relationships #addModel select {
                                    padding: 10px;
                                }
                                .mainpage #relationships #addModel #confirmRelation {
                                    padding: 20px;
                                    margin-top: 20px;
                                    position: absolute;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: auto;
                                    border: 2px white solid;
                                    color: white;
                                    bottom: 100px;
                                }
                                .mainpage #relationships #addModel #cancleRelation {
                                    padding: 10px;
                                    margin-top: 20px;
                                    position: absolute;
                                    left: 50%;
                                    bottom: 25px;
                                    transform: translateX(-50%);
                                    width: auto;
                                    border: 2px white solid;
                                    color: white;
                                }

    .mainpage #jobandextras {
        height: 100%;
    }
        .mainpage #jobandextras #jobs {
            min-height: 25%;
        }
            .mainpage #jobandextras #jobs .job {
                display: flex;
                padding: 50px 50px 20px 50px;
                position: relative;
            }
                .mainpage #jobandextras #jobs .job p, .mainpage #jobandextras #jobs .job h3 {
                    flex: 1;
                    text-align: left;
                    font-size: 0.9rem;
                    font-family: 'Valneck';
                } 
                .mainpage #jobandextras #jobs .job .title:before {
                    content: "Job Title";
                    position: absolute;
                    top: 20px;
                }
                .mainpage #jobandextras #jobs .job .location:before {
                    content: "Job Location";
                    position: absolute;
                    top: 20px;
                }
                .mainpage #jobandextras #jobs .job .coworker:before {
                    content: "Job Coworker";
                    position: absolute;
                    top: 20px;
                }
                .mainpage #jobandextras #jobs .job .wage:before {
                    content: "Job Wage";
                    position: absolute;
                    top: 20px;
                }
        .mainpage #jobandextras #clubs {
            height: calc(100% - 50px - 50px - 208px);
        }
            .mainpage #jobandextras #clubs .club {
                display: flex;
                padding: 20px 50px 20px 50px;
                height: calc(100% / 3 - 40px);
            }
                .mainpage #jobandextras #clubs .club:hover {
                    box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255,255,255,0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
                    transition: box-shadow 0.1s ease-out;
                }
                .mainpage #jobandextras #clubs .club + .club {
                }
                .mainpage #jobandextras #clubs .club .members {
                    flex: 1;
                    margin-right: 10px;
                }
                .mainpage #jobandextras #clubs .club p {
                    flex: 1;
                    text-align: left;
                }
        .mainpage #jobandextras button {
            flex: 0.5;
            display: block;
            text-align: center;
            font-family: Arial;
            background-color: transparent;
            border: 2px solid darkgoldenrod;
            color: white;
            height: 50px;
        }
            .mainpage #jobandextras button:hover {
                cursor: pointer;
                background-color: black;
                color: darkgoldenrod;
            }

    .mainpage #account {
    }

    .mainpage #npcs {
    }
        .mainpage #npcs .npcProfile{
            display: flex;
        }
            .mainpage #npcs .npcProfile .student, .mainpage #npcs .npcProfile .teacher {
                flex: 1;
            }
                .mainpage #npcs .npcProfile .student .npcSelector h3,
                .mainpage #npcs .npcProfile .teacher .npcSelector h3,
                .mainpage #npcs .npcProfile .student .npcSelector,
                .mainpage #npcs .npcProfile .teacher .npcSelector {
                    text-align: center;
                }
        .mainpage #npcs form {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0 50px 0 20px;
        }
            .mainpage #npcs form label {
                display: flex;
            }
                .mainpage #npcs form label p, .mainpage #npcs form .note p {
                    flex: 0.5;
                }
                .mainpage #npcs form label input, .mainpage #npcs form .note textarea {
                    flex: 1;
                }
                .mainpage #npcs form label p {
                    text-align: right;
                    margin: 10px 10px 0 0;
                }
                .mainpage #npcs form label input, .mainpage #npcs form label select {
                    margin: 10px 0 0 0;
                }
            .mainpage #npcs form .note {
                display: flex;
            }
                .mainpage #npcs form .note p {
                    text-align: right;
                    margin: 10px 10px 0 0;
                }
                .mainpage #npcs form .note textarea {
                    margin: 10px 0 0 0;
                    padding: 0 10px 0 0;
                    resize: none;
                    height: 150px;
                }

    .mainpage .extranotes {
        padding: 0 50px 0 50px;
    }
        .mainpage .extranotes .top, .mainpage .extranotes .bottom {
            height: 360px;
        }
        .mainpage .extranotes .notearea {
            height: calc(100%);
            flex: 1;
        }
        .mainpage .extranotes .top {
            margin: 0 0 50px 0; 
        }
        .mainpage .extranotes .notearea + .notearea {
            margin: 0 0 0 50px;
        }
        .mainpage .extranotes textarea {
            margin: 0;
            padding: 10px;
            width: 90%;
            height: calc(90% - 22px - 30px);
            text-align: left;
            resize: none;
            cursor: pointer;
        }

:root {
    --pg2colwidth: calc(100%/3);
    --colpadding: 15px;
}
.mainpage .ss {
    background-image: url(../../assets/star/paper_1.jpg);
    background-size: cover;
    background-color: black;
    color: black;
}
.mainpage .ss .controls {
    top: 5px;
}
    .mainpage .ss .controls .control {
        color: black;
    }
.mainpage .ss .topcontainer {
    position: relative;
    padding: 15px;
    width: calc(100% - 30px - 30px);
    margin: 0 15px 0 15px;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
}
.mainpage .ss .issue {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    padding: 5px;
    left: 5%;
    text-align: left;
}
    .mainpage .ss .issue:before {
        content: "No. ";
        position: absolute;
        top: 13px;
        left: 15px;
    }
.mainpage .ss .slogan {
    text-transform: uppercase;
    text-align: center;
}
    .mainpage .ss .paperdate {
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid #2f2f2f;
        padding: 0;
        right: 5%;
        text-align: right;
        width: 300px;
    }
    .mainpage .ss .bodycontainer {
        position: relative;
        padding: 0 15px 15px 15px;
        width: calc(100% - 30px - 30px);
        height: 90%;
        max-height: 90%;
        margin: 0 15px 0 15px;
    }
.mainpage .ss .RCorn {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background: linear-gradient(-135deg, black 50%, #f3e4ce 0);
    transition: 0.5s;
    box-shadow: -3px 3px 3px black;
}
    .mainpage .ss .RCorn:hover {
        height: 75px;
        width: 75px;
    }
.mainpage .ss .LCorn {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: linear-gradient(130deg, black 50%, #f3e4ce 0);
    transition: 0.5s;
    box-shadow: -3px 3px 3px black;
}
    .mainpage .ss .LCorn:hover {
        height: 75px;
        width: 75px;
    }

    .mainpage .ss .topInputs {
        font-size: 0.8rem;
        height: 18px;
        padding: 0;
        width: 300px;
    }
    .mainpage .ss textarea {
        color: black;
        text-align: left;
        width: 100%;
        height: 100%;
        border-color: black;
        resize: none;
    }
    .mainpage .ss input {
        color: black;
        text-align: center;
        width: 100%;
        margin: 10px;
        height: 80%;
        font-size: 1.3rem;
        border-color: black;
    }
    .mainpage .ss .colTitle {
        color: black;
        text-align: center;
        width: 100%;
        margin: 0 0 10px 0;
        height: 35px;
        font-size: 1rem;
        font-weight: bold;
        border-color: black;
    }
    
    .mainpage .ss .pg1 {
        height: 100%;
        padding: 0 50px 0 50px;
        text-align: left;
    }
    .mainpage .ss .pg1 .Mainheadline {
        text-align: center;
        font-size: 2.75rem;
        font-weight: bold;
        height: 70px;
        width: 100%;
    }
    .mainpage .ss .pg1 .secContainer {
        position: relative;
        height: calc(100% - 70px);
        display: flex;
    }
        .mainpage .ss .pg1 .secContainer .leftcol {
            position: relative;
            height: 100%;
            width: 30%;
        }
            .mainpage .ss .pg1 .secContainer .leftcol video {
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        .mainpage .ss .pg1 .secContainer .right {
            margin-left: 15px;
            padding: var(--colpadding);
            border-left: 2px solid #2f2f2f;
            height: calc(100% - 30px);
            width: 70%;
            white-space: pre-line;
            font-size: 1.2rem;
        }

.mainpage .ss .pg2 {
    display: flex;
    padding: 0 50px 0 50px;
    width: calc(100% - 50px - 50px);
    height: 100%;
    text-align: left;
}
    .mainpage .ss .pg2 .left,
    .mainpage .ss .pg2 .right{
        padding: var(--colpadding);
        height: calc(100% - 50px);
        width: var(--pg2colwidth);
        position: relative;
    }
        .mainpage .ss .pg2 .left textarea,
        .mainpage .ss .pg2 .right textarea {
            color: black;
            text-align: left;
            width: 100%;
            height: calc(100% - 21px - 10px - 10px);
            border-color: black;
            resize: none;
        }
    .mainpage .ss .pg2 .midwrapper {
        border-left: 2px solid #2f2f2f;
        border-right: 2px solid #2f2f2f;
        padding: var(--colpadding);
        height: calc(100% - 50px);
        width: var(--pg2colwidth);
        display:flex;
        flex-direction: column;
    }
        .mainpage .ss .pg2 .midwrapper .top,
        .mainpage .ss .pg2 .midwrapper .bot {
            display: block;
            position: relative;
            flex: 1;
        }
            .mainpage .ss .pg2 .midwrapper .top textarea,
            .mainpage .ss .pg2 .midwrapper .bot textarea {
                height: calc(100% - 21px - 10px - 15px - 15px);
            }
            .mainpage .ss .pg2 .midwrapper .bot:before {
                border-top: 2px solid #2f2f2f;
                content: '';
                display: block;
                margin: 0 0 20px 0;
            }

.mainpage .ss .pg3 {
    height: 100%;
    padding: 0 50px 0 50px;
    text-align: left;
}
    .mainpage .ss .pg3 .jobs {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
    }
        .mainpage .ss .pg3 .jobs .job {
            height: auto;
            border: solid 1px black;
            margin: 5px 5px 5px 0;
        }
            .mainpage .ss .pg3 .jobs .job .jtitle {
                padding: 0;
                text-align: left;
                margin: 0;
                font-size: 0.8rem;
                width: 100%;
                height: 20px;
            }
            .mainpage .ss .pg3 .jobs .job .details input {
                padding: 0;
                text-align: left;
                margin: 0;
                font-size: 0.8rem;
                width: 50%;
                height: 20px;
            }
                .mainpage .ss .pg3 .jobs .job .details p {
                    text-align: left;
                    margin: 0;
                    font-size: 0.89rem;
                }
                    .mainpage .ss .pg3 .jobs .job .details p + p {
                        margin-left: 5px;
                        padding-left: 5px;
                        border-left: 1px solid black;
                    }
            .mainpage .ss .pg3 .jobs .job button {
                position: absolute;
                top: 0;
                right: 0;
                width: 30px;
                height: 100%;
                margin: 0;
                padding: 0;
                border: none;
                font-size: 0.8rem;
                border-left: 1px solid black;
            }
                .mainpage .ss .pg3 .jobs .job button:hover {
                    cursor: pointer;
                }
                .mainpage .ss .pg3 .jobs .job button:active {
                    background-color: black;
                    color: darkgoldenrod;
                }
                .mainpage .ss .pg3 .jobs .job button span {
                    display: block;
                    height: 30px;
                    position: absolute;
                    top: 5px;
                    right: 0;
                    width: auto;
                    transform: translateY(-50%);
                    margin: 0;
                    transform: rotate(90deg);
                }
.mainpage .ss .headline {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    display: block;
    padding: 0 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
}
.mainpage .ss .author {
    font-weight: 700;
    font-size: 0.7rem;
    text-align: center;
}
    .mainpage .ss .author:before {
        border-top: 1px solid #2f2f2f;
        content: '';
        width: 50px;
        display: block;
        margin: 0 auto 0 auto;
    }
    .mainpage .ss .author:after {
        border-bottom: 1px solid #2f2f2f;
        content: '';
        width: 50px;
        display: block;
        margin: 0 auto 0 auto;
    }
.mainpage .ss .content {
    padding: 10px;
    text-align: justify;
    font-size: 1rem;
}

.mainpage #tea video{
    position: absolute;
    top: -110px;
    left: 0;
    height: calc(100% + 160px);
    z-index: 0;
}

.mainpage #account {
}
    .mainpage #account form {
        color: black;
        margin: 50px 0 0 0;
        text-align: center;
        align-content: center;
        align-items: center;
        font-size: 14px;
        font-family: "Helvetica";
        width: 100%;
        position: relative;
    }
    .mainpage #account label {
        margin-top: 15px;
        font-size: 18px;
        text-align: center;
        display: inline-block;
        width: 100%;
        color: white;
    }
    .mainpage #account form input {
        color: black;
        width: 350px;
        display: block;
        padding: 0.5%;
        display: inline-block;
        border-radius: 8px;
        border: solid 2px;
        border-color: darkgoldenrod;
        background-color: white;
        -webkit-transition: border-width 0.25s, border-color 0.25s, background-color 0.5s, right 1s, opacity 1s;
        transition: border-width 0.25s, border-color 0.25s, background-color 0.5s, right 1s, opacity 1s;
    }
    .mainpage #account button {
        margin-top: 15px;
        opacity: 1;
        width: 250px;
        font-size: 18px;
        font-family: "Helvetica";
        text-align: center;
        color: darkgoldenrod;
        padding: 18px 60px;
        border-radius: 16px;
        border: solid 2px;
        display: inline-block;
        border-color: darkgoldenrod;
        background-color: rgba(0, 0, 0, 0.1);
        -webkit-transition: color 0.5s, border-color 0.5s, background-color 0.5s, right 1s, opacity 1s;
        transition: color 0.5s, border-color 0.5s, background-color 0.5s, right 1s, opacity 1s;
    }
        .mainpage #account button:hover {
            cursor: pointer;
        }

@media only screen and (max-width: 1540px) {
    .mainpage #tea video {
        height: 816.4px;
    }
    .leftnav .choices .choice {
        padding: 13px;
    }
}