body {
    background-color: darkslategrey;
}

#bg1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #020302), color-stop(0.3023333, #06162b), color-stop(0.45324364471724005, #0b2a55), color-stop(0.6496666, #06162b), color-stop(0.99999989489998, #020302));
}

#particleGenerator {
    height: 0;
}

header {
    height: var(--headerht);
    width: 100%;
    display: inline-flex;
    z-index: 10;
    position: relative;
}

    header .logo img {
        height: 100%;
    }

    header .pagetitle {
        font-size: 5rem;
        color: darkgoldenrod;
    }

    header .thenavigation .hamburger {
        display: none;
    }

.logout {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 5px;
    font-size: 3vh;
    z-index: 50;
    opacity: 1;
    font-size: 18px;
    font-family: "Helvetica";
    text-align: center;
    color: darkgoldenrod;
    padding: 18px 60px;
    border-radius: 16px;
    border: solid 2px;
    border-color: darkgoldenrod;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: color 0.5s, border-color 0.5s, background-color 0.5s, right 1s, opacity 1s;
    transition: color 0.5s, border-color 0.5s, background-color 0.5s, right 1s, opacity 1s;
}

.particle {
    opacity: 0;
    position: absolute;
    -webkit-animation: particleAnim 3s ease-in-out infinite;
    animation: particleAnim 3s ease-in-out infinite;
    border-radius: 100%;
}

@-webkit-keyframes particleAnim {
    0% {
        opacity: 0;
        transform: translateY(-0%);
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1500%);
    }
}

@keyframes particleAnim {
    0% {
        opacity: 0;
        transform: translateY(-0%);
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1500%);
    }
}

.controls {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 15;
    display: flex;
}

.control {
    background-color: white;
    height: 80%;
    width: 100%;
    margin: 10px;
    position: relative;
}
    .control p {
        position: absolute;
        margin: 0;
        text-align: center;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        font-size: 24px;
    }
    .control:hover{
        cursor: pointer;
    }
    .control ul {
        position: absolute;
        left: 50%;
        top: calc(-30px * 5);
        transform: translateX(-50%);
        background-color: white;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
    }
    .control ul li {
        height: 30px;
        background-color: white;
    }
        .control ul li .option {
            height: 20px;
            width: 100%;
            padding: 5px 0 5px 0;
        }
        .control ul li .option:hover {
            background-color: gray;
        }
        .control:hover ul {
            display: block;
        }

.allContainer {
    display: flex;
    height: 100%;
    width: 400%;
    transition: all 0.5s;
}
.page {
    height: calc(100% - 100px);
    width: 100%;
    background-color: rebeccapurple;
}
.page img {
    height: 100%;
}

.subnav{
    display: flex;
    width: 100%;
    height: 50px;
}
    .subnav .sub {
        color: white;
        flex: 1;
        padding: 15px;
        transition: all 0.5s;
    }
    .subnav .sub:hover {
        cursor: pointer;
        color: darkgoldenrod;
        background-color: darkslategrey;
    }

.SScontainer {
    background-image: url(../../assets/star/paper_1.jpg);
    background-size: cover;
    height: calc(100% - 50px - 50px);
    width: 100%;
}

:root {
    --pg2colwidth: calc(100%/3);
    --colpadding: 15px;
}

.pg1 {
    height: calc(100% - 50px);
    padding: 0 50px 0 50px;
    text-align: left;
}
    .pg1 .Mainheadline {
        text-align: center;
        font-size: 2.75rem;
        font-weight: bold;
        height: 70px;
        width: 100%;
    }
    .pg1 .secContainer {
        position: relative;
        height: calc(100% - 70px);
        display: flex;
    }
        .pg1 .secContainer .leftcol {
            position: relative;
            height: 100%;
            width: 30%;
        }
            .pg1 .secContainer .leftcol video {
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        .pg1 .secContainer .right {
            margin-left: 15px;
            padding: var(--colpadding);
            border-left: 2px solid #2f2f2f;
            height: 100%;
            width: 70%;
            column-count: 2;
            white-space: pre-line;
            font-size: 1.2rem;
        }

.pg2 {
    height: calc(100% - 50px);
    padding: 0 50px 0 50px;
    text-align: left;
    display: flex;
}
    .pg2 .left {
        padding: var(--colpadding);
        height: 100%;
        width: var(--pg2colwidth);
    }
    .pg2 .midwrapper {
        height: 100%;
        width: var(--pg2colwidth);
        border-left: 2px solid #2f2f2f;
        border-right: 2px solid #2f2f2f;
    }
        .pg2 .midwrapper .top {
            padding: var(--colpadding);
            height: calc(100% / 2 - 15px);
            width: calc(100% - 30px);
        }
        .pg2 .midwrapper .bot {
            padding: var(--colpadding);
            height: calc(100% / 2 - 15px);
            width: calc(100% - 30px);
        }
            .pg2 .midwrapper .bot:before {
                border-top: 2px solid #2f2f2f;
                content: '';
                display: block;
                margin-left: 15px;
                margin-right: 15px;
            }
    .pg2 .right {
        padding: var(--colpadding);
        height: 100%;
        width: var(--pg2colwidth);
    }
    .pg2 input {
        margin: 0 0 5px 0;
        width: 100%;
        height: 30px;
        white-space: pre-line;
        font-family: 'Valneck';
        font-size: 1.2rem;
        margin: 0;
    }
    .pg2 textarea {
        width: 100%;
        height: calc(100% - 30px);
        text-align: justify;
        font-family: 'Valneck';
        font-size: 1rem;
    }

textarea, input {
    background-color: transparent;
    border: none;
    resize: none;
}

.footerSpace {
    display: flex;
}
.baseSpacer {
    width: 25%;
    padding: 15px;
}
.save {
    color: white;
    width: 50%;
    padding: 15px;
    transition: all 0.5s;
}
    .save:hover {
        cursor: pointer;
        color: darkgoldenrod;
        background-color: darkslategrey;
    }

    /* Players */
.Playerprofile{
    width: 30%;
    height: 100%;
    position: relative;
}
    .Playerprofile .PPtop {
        height: 40%;
        width: 100%;
        display: flex;
    }
        .Playerprofile .PPtop .PPLeft {
            height: 100%;
            width: 40%;
        }
    .Playerprofile .PPbot {
        height: 60%;
        width: 100%;
    }