body{
    background-color: darkslategrey;
}

header .thenavigation .hamburger {
    display: none;
}

.logoutbtn {
    padding: 0.5%;
    position: absolute;
    top: 14px;
    right: 10px;
    z-index: 15;
}
    .logoutbtn:hover{
        cursor: pointer;
    }

.selectors{
    padding: 5px;
    margin: 5px;
}
    .selectors select {
        padding: 0 1em 0 0;
        margin: 0;
        width: 75%;
        text-align: center;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
    }
        .selectors select::-ms-expand {
            display: none;
        }
    .selectors .controls {
        padding: 5px;
        margin: 5px;
        
    }
        .selectors .controls button {
            width: 25%;
            font-size: 16px;
        }

.bodycard {
    background-color: red;
    width: 100%;
    height: 95%;
}