<div class="pagetitle">
    <h1>Strixhaven University</h1>
</div>
<div class="content" style="background-color:white;">
    Welcome to Stixhaven University, a magical school founded seven centuries ago by five ancient dragons. 
    Here students can study magic and learn from the many sages who take eager learners under their wings. 
    Being accepted to Strixhaven University is a special honour, the dream of many young students. 
    Strixhaven is a place of enlightenment and learning, and both its graduates and its delegates are welcomed and respected.
    
    <br /><br />

    Strixhaven is the premier institution of magical learning, drawing promising young mages from all over. 
    Each equipped with its own campus and faculty, Strixhaven's five colleges: Lorehold, Prismari, Quandrix, Silverquill and Witherbloom, cover a vast array of academic and magical specialties.
    
    <br /><br />
    
    As a Strixhaven student a well-rounded education is not all we offer. 
    You can also partake in the vibrant campus life, with plenty of clubs and other activities. 
    Even play on one of Strixhaven's prestigious Mage Tower teams and bask in the adoration of cheering crowds!

    <br /><br />
    <i class="quote">
        "The mission of Strixhaven University is to discover and preserve magical knowledge,
        to disseminate that knowledge from one generation to the next,
        to promote free and open study of magic in all its forms, and to enhance the lives of people throughout the world through the use of magic."
    </i>
    <br />
    <p class="endquote">- Strixhaven mission statement</p>
</div>
