body {
    background-color: darkslategrey;
}

#bg1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #020302), color-stop(0.3023333, #06162b), color-stop(0.45324364471724005, #0b2a55), color-stop(0.6496666, #06162b), color-stop(0.99999989489998, #020302));
}
#particleGenerator {
    height: 0;
}

header {
    height: var(--headerht);
    width: 100%;
    display: inline-flex;
    z-index: 10;
    position: relative;
}
        header .logo img {
            height: 100%;
        }
    header .pagetitle {
        font-size: 5rem;
        color: darkgoldenrod;
    }
        header .thenavigation .hamburger {
            display: none;
        }

.logout {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 5px;
    font-size: 3vh;
    z-index: 50;
    opacity: 1;
    font-size: 18px;
    font-family: "Helvetica";
    text-align: center;
    color: darkgoldenrod;
    padding: 18px 60px;
    border-radius: 16px;
    border: solid 2px;
    border-color: darkgoldenrod;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: color 0.5s, border-color 0.5s, background-color 0.5s, right 1s, opacity 1s;
    transition: color 0.5s, border-color 0.5s, background-color 0.5s, right 1s, opacity 1s;
}
.particle {
    opacity: 0;
    position: absolute;
    -webkit-animation: particleAnim 3s ease-in-out infinite;
    animation: particleAnim 3s ease-in-out infinite;
    border-radius: 100%;
}
@-webkit-keyframes particleAnim {
    0% {
        opacity: 0;
        transform: translateY(-0%);
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1500%);
    }
}
@keyframes particleAnim {
    0% {
        opacity: 0;
        transform: translateY(-0%);
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1500%);
    }
}

.firstyear {
    content: url(../../assets/strix_logo.png);
    height: 100%;
}
.lorehold {
    content: url(../../assets/maps/lorehold.png);
    height: 100%;
}
.silverquill {
    content: url(../../assets/maps/silverquill.png);
    height: 100%;
}
.quandrix {
    content: url(../../assets/maps/quandrix.png);
    height: 100%;
}
.witherbloom {
    content: url(../../assets/maps/witherbloom.png);
    height: 100%;
}
.prismari {
    content: url(../../assets/maps/prismari.png);
    height: 100%;
}

:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231); 
    --speed: 7s;
}

main {
    position: relative;
}

.card {
    height: 325px;
    margin: 15px;
    width: 50%;
    overflow: hidden;
    z-index: 10;
    border-radius: 5%;
    box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255,255,255,0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
    background-color: #040712;
    background-image: var(--front);
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: center;
}
    .card img {
        max-height: 100%;
    }
    .card:hover {
        box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255,255,255,0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
    }
    .card:before, .card:after {
        content: "";
        background-repeat: no-repeat;
        opacity: .5;
        mix-blend-mode: color-dodge;
        transition: all .33s ease;
    }
    .card:before {
        background-position: 50% 50%;
        background-size: 300% 300%;
        background-image: linear-gradient( 115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100% );
        opacity: .5;
        filter: brightness(.5) contrast(1);
        z-index: 1;
    }
    .card:after {
        opacity: 1;
        background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
        background-position: 50% 50%;
        background-size: 160%;
        background-blend-mode: overlay;
        z-index: 2;
        filter: brightness(1) contrast(1);
        transition: all .33s ease;
        mix-blend-mode: color-dodge;
        opacity: .75;
    }
    .card.active:after, .card:hover:after {
        filter: brightness(1) contrast(1);
        opacity: 1;
    }
    .card.active, .card:hover {
        transition: box-shadow 0.1s ease-out;
    }
        .card.active:before, .card:hover:before {
            background-position: 50% 50%;
            background-size: 250% 250%;
            opacity: .88;
            filter: brightness(.66) contrast(1.33);
            transition: none;
        }
    .card.animated {
        transition: none;
        animation: holoCard var(--speed) ease 0s 1;
    }
        .card.animated:before {
            transition: none;
        }
        .card.animated:after {
            transition: none;
            height: 100%;
            width: 100%;
            animation: holoSparkle var(--speed) ease 0s 1;
        }

@keyframes holoSparkle {
    0%, 100% {
        opacity: 1;
        background-position: 50% 50%;
        filter: brightness(1) contrast(1.5);
    }

    50% {
        opacity: .5;
        transform: translate3d(0, 0, 0.01px) rotateY(20deg) rotateX(5deg);
        filter: brightness(1.2) contrast(1.5);
    }
}

.container{
    height: 100%;
    display: flex;
    position: relative; 
    padding: 15px;
}

.controls {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 15;
    display: flex;
}
.control {
    background-color: white;
    height: 80%;
    width: 100%;
    margin: 10px;
    position: relative;
}
    .control p {
        position: absolute;
        margin:0;
        text-align: center;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        font-size: 24px;
    }

label {
    color: white;
    display: block
}
input {
    color: white;
    margin: 5px 5px 5px 0;
    text-align: center;
    padding: 5px;
    width: 250px;
    background-color: transparent;
    border: none;
}

.left {
    position: relative;
    height: 100%;
    width: 1000px;
}
.left .lefttopcontainer{
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
}
.left .profile {
    margin: 15px 15px 15px 0;
    width: 100%;
    text-align: right;
}
    .left .info {
        transition: all 0.5s;
        opacity: 1;
    }
    .left .personality {
        width: 100%;
        height: calc(50% - 100px);
        text-align: right;
    }
    .left .personality .personalityprofile{
        margin: 0 15px 0 0;
    }
        .left .personality .personalityprofile input {
            width: 400px;
            height: 50px
        }
.personal{
    text-align: right;
    display: flex;  
}
    .personal p {
        color: white;
        max-width: 20%;
        padding: 5px;
        margin: 5px 15px 5px 5px;
        flex: 2;
    }
    .personal textarea {
        width: 475px;
        height: 255px;
        margin: 0 0 10px 0;
        resize: none;
        color: white;
        text-align: center;
        background-color: transparent;
    }
    .personal input {
        padding: 0;
        width: 500px;
    }
.left .story {
    width: 100%;
    transition: all 0.5s;
    opacity: 0;
}

.left .story h1{
    margin: 0;
    padding: 0;
    height: 30px;
}
    .left .story textarea {
        width: calc(100% - 30px);
        height: calc(100% - 30px - 30px);
        max-width: calc(100% - 30px);
        max-height: calc(100% - 30px - 30px);
        min-width: calc(100% - 30px);
        min-height: calc(100% - 30px - 30px);
        margin: 15px;
        resize: none;
        background-color: lightgray;
    }
    .left .story .backstory {
        color: white;
        width: 100%;
        height: calc(100% - 60%);
    }
    .left .story .extrainfo {
        color: white;
        width: 100%;
        height: calc(100% - 55%);
    }

.right {
    margin-left: 5px;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.mainslider {
    color: white;
    height: 100%;
    width: 400%;
    transition: all 1s;
    display: flex;
}

/* All */
table {
}
tr {
}
th {
}
td {
    text-align: left;
}
    td img {
        height: 50px;
    }

/* Classes */
.subnav {
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
}
.sub {
    flex: 1;
}
    .sub:hover {
        cursor: pointer;
        color: darkgoldenrod;
    }
.one {
    background-color: red;
}
.two {
    background-color: hotpink;
}
.three {
    background-color: purple;
}
.four {
    background-color: blue;
}

/* Exam Report */


/* Relationships */
.relation{
    display: flex;
    text-align: left;
    color: black;
    padding: 15px;
}
    .relation img {
        width: 100px;
    }
    .relation p {
        margin: 10px;
        width: 100px;
    }


    /* Extracurriculas */
.slide {
    margin: 0 0 0 0;
    width: 100%;
    height: calc(100% - 100px);
}
.right h1{
    padding: 0;
    margin: 0;
}
