body {
    background-color: darkslategrey;
}


header {
    height: var(--headerht);
    width: 100%;
    display: inline-flex;
    z-index: 10;
    position: relative;
}
        header .logo img {
            height: 100%;
        }
    header .pagetitle {
        line-height: 1.75;
        width: 100%;
        text-align: center;
        font-size: 8vh;
        font-family: 'Rotten Banquet', sans-serif;
        color: black;
    }
        header .thenavigation .hamburger {
            display: none;
        }

        .logout{
            position: absolute;
            right: 8px;
            top: 8px;
            padding: 5px;
            font-size: 3vh;
            z-index: 50;
        }

.firstyear {
    content: url(../../assets/strix_logo.png);
}
.lorehold {
    content: url(../../assets/maps/lorehold.png);
}
.silverquill {
    content: url(../../assets/maps/silverquill.png);
}
.quandrix {
    content: url(../../assets/maps/quandrix.png);
}
.witherbloom {
    content: url(../../assets/maps/witherbloom.png);
}
.prismari {
    content: url(../../assets/maps/prismari.png);
}