#bg1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #020302), color-stop(0.3023333, #06162b), color-stop(0.45324364471724005, #0b2a55), color-stop(0.6496666, #06162b), color-stop(0.99999989489998, #020302));
}
#particleGenerator {
    height: 0;
}

header {
    position: relative;
    height: 100px;
    width: 100%;
}
    header .logo {
        width: 342px;
    }
    header #unilogo {
        display: none;
    }
    header .pagetitle {
        font-family: 'posting', sans-serif;
        font-size: 4rem;
        text-shadow: none;
        -webkit-text-stroke: 0px black;
        width: calc(100% - 342px - 74px);

    }
    header .thenavigation{
        width:auto;
    }
    header .thenavigation .hamburger {
        color: white;
    }

.particle {
    opacity: 0;
    position: absolute;
    -webkit-animation: particleAnim 3s ease-in-out infinite;
    animation: particleAnim 3s ease-in-out infinite;
    border-radius: 100%;
}
@-webkit-keyframes particleAnim {
    0% {
        opacity: 0;
        transform: translateY(-0%);
    }

    15% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1500%);
    }
}
@keyframes particleAnim {
    0% {
        opacity: 0;
        transform: translateY(-0%);
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-1500%);
    }
}

/**/
main {
    margin: 0;
    height: calc(100% - 100px);
    display: flex;
}

:root {
    --titleheight: 45px;
    --mainbodyheight: calc(100% - var(--titleheight));
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --speed: 7s;
}
::placeholder {
    color: white;
    opacity: 1;
}

.leftnav {
    background-color: white;
    width: 350px;
    height: calc(100% + 100px);
    position: absolute;
    top: -100px;
    position: relative;
}
    .leftnav .block {
        width: 100%;
        height: 150px;
    }
    .leftnav .block img {
        height: calc(100% - 30px);
        margin: 15px
    }
    .leftnav .choices {
        width: 100%;
    }
        .leftnav .choices .choice {
            text-align: center;
            margin: 0;
            padding: 20px;
        }
            .leftnav .choices .choice:hover {
                background-color: rgb(227,28,121, 0.2);
                color: rgb(227,28,121);
            }
        .leftnav .choices .selected {
            border-left: 5px solid hotpink;
            border-right: 5px solid hotpink;
            background-color: rgb(227,28,121, 0.2);
            color: rgb(227,28,121);
        }

.mainpage {
    height: var(--mainbodyheight);
    width: calc(100% - 350px);
    position: relative;
}
    .mainpage div {
        width: auto;
        height: auto;
    }
    .mainpage h2 {
        height: var(--titleheight);
        margin: 10px 0 0 0;
        font-size: 2rem;
    }
    .mainpage .page {
        color: white;
        height: auto;
    }
    .mainpage .top {
        display: flex;
        height: 340px;
        width: 100%;
        position: relative;
    }
    .mainpage .bottom {
        display: flex;
        height: calc(100% - 360px);
        width: 100%;
        position: relative;
    }
    .mainpage label, .mainpage p {
        font-family: 'Valneck';
        font-size: 1.1rem;
    }
    .mainpage input, .mainpage textarea, .mainpage select {
        background-color: transparent;
        border: none;
        font-size: 0.9rem;
        text-align: left;
        color: white;
        font-family: Arial;
    }
    .mainpage select {
        text-align: left;
        width: 450px;
        opacity: 1;
        color: white;
        border: none;
        background-color: transparent;
        padding: 5px 0 5px 10px;
    }
    .mainpage .selected:disabled {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    .mainpage option{
        color: black;
    }
    .mainpage input {
        text-align: left;
        width: 450px;
        padding: 5px 0 5px 10px;
    }
        .mainpage input:enabled {
            border: 2px solid white;
        }
    .mainpage textarea {
        border: 2px solid white;
    }
        .mainpage textarea:read-only {
            border: none;
        }

    .mainpage .controls {
        position: absolute;
        top: -10px;
        right: 0;
        padding: 5px;
        display: flex;
    }
        .mainpage .controls button {
            font-size: 2rem;
            padding: 5px;
            background-color: transparent;
            color: white;
            border: none;
        }
        .mainpage .controls .control:hover {
            color: darkgoldenrod;
            cursor: pointer;
        }
        .mainpage .controls button + button {
            margin-left: 5px;
        }
        .mainpage .controls .activecontrol {
            color: hotpink;
        }
            .mainpage .controls .activecontrol:hover {
                cursor: pointer;
            }

    .mainpage #profile {
        position: relative;
    }
        .mainpage #profile .card {
            height: 325px;
            max-width: 225px;
            margin: 0px 0 0 50px;
            flex: 1;
        }
            .mainpage #profile .card img {
                height: 100%;
                border-radius: 5%;
                box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255,255,255,0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
            }
                .mainpage #profile .card img:hover {
                    box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255,255,255,0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
                    transition: box-shadow 0.1s ease-out;
                }
        .mainpage #profile form {
            flex: 2;
            text-align: right;
        }
            .mainpage #profile form label {
                display: block;
                margin: 10px;
            }

            .mainpage #profile form .formfield {
                display: flex;
                height: 239px;
            }
                .mainpage #profile form .formfield label {
                    flex: 1;
                    margin: 0 5px 0 20px;
                }
                .mainpage #profile form .formfield textarea {
                    flex: 2.7;
                    height: 225px;
                    width: 450px;
                    resize: none;
                    margin: 0 10px 0 0;
                }
            .mainpage #profile form label textarea {
                height: 225px;
            }
        .mainpage #profile .personality {
            width: 100%;
            height: calc(100% - 15px);
            margin-top: 5px;
            text-align: right;
            flex: 1;
        }
            .mainpage #profile .personality .personal {
                text-align: right;
                display: flex;
                width: calc(100% - 50px);
                padding: 0 0 0 50px;
                height: calc(100% / 5);
            }
                .mainpage #profile .personality .personal p, .mainpage #profile .personality .personal textarea {
                    height: calc(100% / 5);
                }
                .mainpage #profile .personality .personal p {
                    color: white;
                    max-width: 20%;
                    padding: 0 5px 5px 5px;
                    margin: 0 15px 5px 5px;
                    flex: 1;
                }
                .mainpage #profile .personality .personal textarea {
                    width: calc(100% - 20%);
                    height: calc(100% - 10px);
                    min-height: calc(100% - 10px);
                    margin: 5px 10px 0 10px;
                    resize: none;
                    flex: 1;
                    color: white;
                    text-align: left;
                    background-color: transparent;
                }
        .mainpage #profile .right {
            flex: 1;
        }
            .mainpage #profile .right .formfield {
                height: 50%;
                display: flex;
            }
                .mainpage #profile .right .formfield label {
                    flex: 0.7;
                }
                .mainpage #profile .right .formfield textarea {
                    flex: 1;
                    margin: 0 10px 0 0;
                    height: calc(100% - 10px);
                    resize: none;
                }

    .mainpage #details {
        position: relative;
    }
        .mainpage #details .splitbody {
            display: flex;
            height: calc(100% - 45px);
        }
            .mainpage #details .splitbody .split {
                flex: 1;
                height: 100%;
                margin: 0 50px 0 50px;
                padding-bottom: 50px;
            }
                .mainpage #details .splitbody .split p {
                    margin: 0;
                    text-align: center;
                    font-size: 1.5rem;
                }
                .mainpage #details .splitbody .split textarea {
                    margin: 10px 0 0 0;
                    resize: none;
                    height: calc(100% - 30px);
                    width: 100%;
                }

    .mainpage #courses {
    }
        .mainpage #courses .top, .mainpage #courses .bottom {
            height: 49%;
        }
        .mainpage #courses .year {
            flex: 1;
            margin: 20px 50px 20px 50px;
            height: calc(100% - 40px);
            width: 200px;
            border-radius: 10px;
            position: relative;
            min-width: 320px;
            box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            background-image: linear-gradient(to right, transparent 10%, black 90%);
        }
        .mainpage #courses select:disabled {
            opacity: 1;
            color: white;
            border: none;
            background-color: transparent;
        }
        .mainpage #courses .year h3 {
            margin: 0;
            padding: 10px;
            font-family: 'Valneck';
            position: absolute;
            top: -10px;
            right: 30px;
            font-size: 8rem;
            color: rgba(255, 255, 255, 0.1);
        }
            .mainpage #courses .year + .year {
                margin: 20px 50px 20px 0;
            }
    .mainpage #courses .year .coursechoices {
        position: relative;
        margin-top: 40px;
        height: calc(100% - 47px - 20px);
    }
        .mainpage #courses .year .coursechoices .coursechoice {
            margin: 10px;
            display: flex;
            height: calc(100% / 4);
        }
            .mainpage #courses .year .coursechoices .coursechoice select {
                margin: 0 20px 0;
                padding: 10px;
                width: calc(auto + 20px);
                height: 40px;
                flex: 1;
                font-family: Arial;
                font-size: 0.9rem;
            }
            .mainpage #courses .year .coursechoices .coursechoice span {
                flex: 1;
                font-family: Arial;
                font-size: 0.9rem;
                padding: 10px;
                margin: 0;
                text-align: left;
                font-weight: bold;
            }
            .mainpage #courses .year .coursechoices .coursechoice p {
                flex: 1;
                font-family: Arial;
                font-size: 0.9rem;
                padding: 10px;
                margin: 0;
                text-align: left;
            }
     
        .mainpage #exams {
        }
            .mainpage #exams .top, .mainpage #courses .bottom {
                height: 49%;
            }
            .mainpage #exams .year {
                flex: 1;
                margin: 20px 50px 20px 50px;
                height: 367.672px;
                width: 200px;
                border-radius: 10px;
                position: relative;
                min-width: 320px;
                box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
                border-radius: 15px;
                background-image: linear-gradient(to right, transparent 10%, black 90%);
            }
                .mainpage #exams .year h3 {
                    margin: 0;
                    padding: 10px;
                    font-family: 'Valneck';
                    position: absolute;
                    top: -10px;
                    right: 30px;
                    font-size: 8rem;
                    color: rgba(255, 255, 255, 0.1);
                }
                .mainpage #exams .year + .year {
                    margin: 20px 50px 20px 0;
                }
                .mainpage #exams .year .exams {
                    position: relative;
                    height: calc(100% - 47px - 47px - 20px);
                }
                .mainpage #exams .year .exams .exam {
                    display: flex;
                }
                    .mainpage #exams .year .exams .exam p{
                        flex: 1;
                        text-align: left;
                        padding: 20px;
                        margin: 0;
                    }
                    .mainpage #exams .year .exams .exam .edice {
                        flex: 0.2;
                    }

    .mainpage #relationships {
    }
    .mainpage #insporation {
        padding: 0 65px 0 65px;
        margin: 10px 0 10px 0;
    }
    .mainpage #relationships .cubeWrapper {
        margin: 20px 0 20px 0;
    }
            .mainpage #relationships .cubeWrapper #cubes {
                padding: 0 50px 0 50px;
                display: flex;
                flex-wrap: wrap;
            }
                .mainpage #relationships .cubeWrapper #cubes .cube {
                    flex: 1 1 30%;
                    height: 45px;
                    width: 200px;
                    border: 2px solid #fff;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.3), 0 2px 3px rgba(0,0,0,0.1);
                    position: relative;
                    margin: 0 5px 15px 5px;
                    transition: 0.2s ease;
                    overflow: hidden;
                }
                    .mainpage #relationships .cubeWrapper #cubes .cube:hover {
                        height: auto;
                        width: 200px;
                    }
                    .mainpage #relationships .cubeWrapper #cubes .cube div {
                        display: flex;
                        margin: 10px;
                    }
                        .mainpage #relationships .cubeWrapper #cubes .cube .cname,
                        .mainpage #relationships .cubeWrapper #cubes .cube div span {
                            font-family: 'Valneck';
                            text-align: left;
                        }
                    .mainpage #relationships .cubeWrapper #cubes .cube .cname {
                        margin: 10px;
                    }
                    .mainpage #relationships .cubeWrapper #cubes .cube div p {
                        margin: 1px 0 0 10px;
                        font-family: Arial;
                        font-size: 1rem;
                    }
                    .mainpage #relationships .cubeWrapper #cubes .cube div input {
                        width: auto;
                        margin: 1px 0 0 10px;
                    }
                    .mainpage #relationships .cubeWrapper #cubes .cube div .scoreTitle {
                        margin: 5px 0 0 0;
                    }
                    .mainpage #relationships .cubeWrapper #cubes .cube button {
                        color: white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        display: block;
                        width: auto;
                        padding: 0 10px 0 10px;
                        height: 45px;
                        text-align: center;
                        font-size: 1.2rem;
                    }

    .mainpage #jobandextra {
        height: 100%;
    }
        .mainpage #jobandextra #jobs {
            min-height: 25%;
        }
        .mainpage #jobandextra #jobs .job {
            display: flex;
            padding: 50px 50px 20px 50px;
            position: relative;
        }
            .mainpage #jobandextra #jobs .job p, .mainpage #jobandextra #jobs .job h3 {
                flex: 1;
                text-align: left;
            }
                .mainpage #jobandextra #jobs .job h3:before {
                    content: "Job Title";
                    position: absolute;
                    top: 20px;
                }
            .mainpage #jobandextra #jobs .job .location:before {
                content: "Job Location";
                position: absolute;
                top: 20px;
            }
            .mainpage #jobandextra #jobs .job .coworker:before {
                content: "Job Coworker";
                position: absolute;
                top: 20px;
            }
            .mainpage #jobandextra #jobs .job .wage:before {
                content: "Job Wage";
                position: absolute;
                top: 20px;
            }
        .mainpage #jobandextra #clubs {
            height: calc(100% - 50px - 50px - 208px);
        }
            .mainpage #jobandextra #clubs .club {
                display: flex;
                padding: 20px 50px 20px 50px;
                height: calc(100% / 3 - 40px);
            }
                .mainpage #jobandextra #clubs .club:hover {
                    box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255,255,255,0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
                    transition: box-shadow 0.1s ease-out;
                }
                .mainpage #jobandextra #clubs .club + .club {
                }
                .mainpage #jobandextra #clubs .club .members {
                    flex: 1;
                    margin-right: 10px;
                }
                .mainpage #jobandextra #clubs .club p {
                    flex: 1;
                    text-align: left;
                }
        .mainpage #jobandextra button {
            flex: 0.5;
            background-color: transparent;
            border: 2px solid darkgoldenrod;
            color: white;
            height: 50px;
        }
            .mainpage #jobandextra button:hover {
                cursor: pointer;
                background-color: black;
                color: darkgoldenrod;
            }

        .mainpage #account {
        }
            .mainpage #account form {
                color: black;
                margin: 50px 0 0 0;
                text-align: center;
                align-content: center;
                align-items: center;
                font-size: 14px;
                font-family: "Helvetica";
                width: 100%;
                position: relative;
            }
            .mainpage #account label {
                margin-top: 15px;
                font-size: 18px;
                text-align: center;
                display: inline-block;
                width: 100%;
                color: darkgoldenrod;
            }
            .mainpage #account form input {
                color: black;
                width: 350px;
                display: block;
                padding: 0.5%;
                display: inline-block;
                border-radius: 8px;
                border: solid 2px;
                border-color: darkgoldenrod;
                background-color: white;
                -webkit-transition: border-width 0.25s, border-color 0.25s, background-color 0.5s, right 1s, opacity 1s;
                transition: border-width 0.25s, border-color 0.25s, background-color 0.5s, right 1s, opacity 1s;
            }
            .mainpage #account button {
                margin-top: 15px;
                opacity: 1;
                font-size: 18px;
                font-family: "Helvetica";
                text-align: center;
                color: darkgoldenrod;
                padding: 18px 60px;
                border-radius: 16px;
                border: solid 2px;
                display: inline-block;
                border-color: darkgoldenrod;
                background-color: rgba(0, 0, 0, 0.1);
                -webkit-transition: color 0.5s, border-color 0.5s, background-color 0.5s, right 1s, opacity 1s;
                transition: color 0.5s, border-color 0.5s, background-color 0.5s, right 1s, opacity 1s;
            }
                .mainpage #account button:hover {
                    cursor: pointer;
                }