body {
    background-image: url(../../assets/about_bg_1.webp);
    background-size: cover;
    background-color: white;
}

.image-background-text {
    height: 100%;
    margin: 0% 0% 0% 0%;
}

.text-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 60%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(7px);
    background: transparent;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1540px) {
    .text-overlay {
        font-size: 1.1rem;
    }
}