body {
    background-image: url(../../assets/MtG_background.jpg);
    background-size: cover;
    background-color: white;
}

.image-background-text {
    height: 100%;
    margin: 0% 10% 0% 10%;
    font-size: 1.2rem;
}

.text-overlay {
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: transparent;
}