<p class="maintext">
    something about the Bibloplex Campus..
</p>
<p class="maintext">
    <strong>The Biblioplex:</strong><br />
    Something about The Biblioplex.
</p>
<p class="maintext">
    <strong>Captin Dapplewing's Manor:</strong><br />
    Something about Captin Dapplewing's Manor.
</p>
<p class="maintext">
    <strong>Aerojaunt Feild:</strong><br />
    Something about Aerojaunt Feild.
</p>
<p class="maintext">
    <strong>Firejolt Cafe:</strong><br />
    Something about Firejolt Cafe.
</p>
<p class="maintext">
    <strong>Bow's End Tavern:</strong><br />
    Something about Bow's End Tavern.
</p>
<p class="maintext">
    <strong>Strixhaven Stadium:</strong><br />
    Something about Strixhaven Stadium.
</p>
<p class="maintext">
    <strong>Archway Commons:</strong><br />
    Something about Archway Commons.
</p>
