<p class="maintext">
    <strong>The Biblioplex:</strong><br />
    The center and heart of Strixhaven, the Biblioplex library acts as a hub for learning and for gathering of students across campus.
    Shadowed by only the Dawnbow, the largest of star arches in the central campus, it is the beginning of 5 eternally lit paths leading to each of the colleges campus'.
    Whether it be study material for one of your courses, a topic of interest or hobby, or some forbidden knowledge you have gained permission to access, the Biblioplex Library contains books on every single topic you can imagine
    - and some which you can not - from across the multiverse.
    If you are ever lost on your journey to knowledge, the Biblioplex stands as a beacon for you to find your way.
</p>
<p class="maintext">
    <strong>Archway Commons:</strong><br />
    Just south of the Biblioplex, a star arch curves overhead like a smaller echo of the Dawnbow, and a lush park, the Archway Commons, marks the site.
    Perfect for hanging out on your free time, or studying outside in the nice weather, the Commons is an all round common area for all students of Strixhaven. And should you ever feel hungry, located here is the Firejolt Cafe.
</p>
<p class="maintext">
    <strong>Firejolt Cafe:</strong><br />
    Standing at the edge of Archway Commons and just outside the Biblioplex, you will find the cozy Firejolt Cafe. Named after its trademarked beverage, the Firejolt, brewed by the manager Ellinas fire magic, the cafe is a popular hangout spot for students of all ages.
</p>
<p class="maintext">
    <strong>Bow's End Tavern:</strong><br />
    At the western end of the Dawnbow, right where it meets the ground, stands a smaller university landmark: Bow's End Tavern. Popular among older students, many patrons come for the live music, deliciously greasy food, and various potions and beverages.
    It's not uncommon to see wild duels in the lot behind the tavern be broken up by Tulk "the Bulk" Tusktooth, the strict orc managing the tavern.
</p>
<p class="maintext">
    <strong>Strixhaven Stadium:</strong><br />
    Located in the west of the central campus you will find the center of Strixhavens various sport life. The stadium is where thousands gather to watch popular sports such as Mage Tower and Silkball.
</p>
<p class="maintext">
    <strong>Aerojaunt Feild:</strong><br />
    Aerojaunt Field was once the university's primary sports field, a title now owned by Strixhaven Stadium. Its current official purpose is as a dedicated practice field for Strixhaven's high-profile student teams, whose official matches take place in newer facilities elsewhere on campus.
    However, less competitive teams hold their matches on this field, most notably the Intramural Silkball Club. The elevated ramps used in silkball matches were permanently built into the field, whose name evokes a popular silkball move that involves using magic to hop through the air.
</p>
<p class="maintext">
    <strong>Captain Dapplewing's Manor:</strong><br />
    Once owned by Raymous Dapplewing to hold facaulty appointments in several colleges, the manor now serves as an extra facility for dual-college facualty members, providing both extra offices and space for professor and student meetings. Occasionally there will be a lavish dinner party or elegant cocktail hours between its facaulty members, their most promising students, and visiting alumni.
</p>




