<p class="maintext">
    <strong>The Biblioplex:</strong><br />
    Something about The Biblioplex.
</p>
<p class="maintext">
    <strong>Captin Dapplewing's Manor:</strong><br />
    Something about Captin Dapplewing's Manor.
</p>
<p class="maintext">
    <strong>Aerojaunt Feild:</strong><br />
    Something about Aerojaunt Feild.
</p>
<p class="maintext">
    <strong>Firejolt Cafe:</strong><br />
    Something about Firejolt Cafe.
</p>
<p class="maintext">
    <strong>Bow's End Tavern:</strong><br />
    Something about Bow's End Tavern.
</p>
<p class="maintext">
    <strong>Strixhaven Stadium:</strong><br />
    Something about Strixhaven Stadium.
</p>
<p class="maintext">
    <strong>Archway Commons:</strong><br />
    Just south of the Biblioplex, a star arch curves overhead like a smaller echo of the Dawnbow, and a lush park, Archway Commons, marks the site. 
    More familiarly called the Commons, the park is a favorite spot for students-especially first-years-to gather in fair weather or to wander through on dates. 
    Some of the university's clubs also use the park to host social gatherings and games, including live-action roleplaying games and casual sports.
</p>
