<p class="maintext start">
    <strong>Pillardrop:</strong><br />
    Part natural chasm, part archaeological excavation, and part new construction, Pillardrop is a series of buildings excavated out of cliffs on the Lorehold Campus. Ruins and upgraded halls together are now used for research, classwork, and housing. Precarious bridges link one neighborhood of Pillardrop to another, often directly passing the enormous stone faces of old statues. Be careful to not make any missteps, it can be quite a long drop!
</p>
<p class="maintext">
    <strong>Effigy Row:</strong><br />
    The heart of the Lorehold campus and a beautiful soaring bridge that crosses the chasm of Pillardrop. It is lined with monuments depicting historic figures, including past professors, prominent mage-students, war heroes, and heads of states from ages past.
</p>
<p class="maintext">
    <strong>Kollema Hall:</strong><br />
    A grand, multitiered gallery build into a large outcrop right at the end of Effigy Row. Biggest thing to note is the magnificent statue of Mollema, a wise monastic who was among the first lorehold professors. This is where most of the large lectures on the Lorehold campus takes place.
</p>