<p class="start"><strong>Opus Walk:</strong>
    Hundreds of Prismari creations are displayed along a path that winds through the central campus buildings, giving the path its name: Opus Walk. Some of the pieces of magical art have been on display along Opus Walk for centuries, while other transient bursts of creativity lasts only a few moments.</p>
<p><strong>Conjuron Hall:</strong>
    The center of the campus is a towering structure with a gladded-in observation area at the top. Constantly changing strands of elemental energy encircle Conjurot Hall. Here artist-mages can see for miles from Conjurot's main turret, and the view has inspired many artistic creations.</p>
<p><strong>Furygale:</strong>
    Right at the outskirts of the Prismari campus, there lays thousands of past artist-mages abandoned creations, which have coalesceded over the years into the notorious region now called Furygale. It is of course off limits due to the dangerous surges of uncontrolled wildmagic, however many students still sneak in there to gain wild inspiration or to duel without being interrupted by faculty.</p>
