<p class="start"><strong>Sedgemoor:</strong>
    Sedgemoor is the bayou area that encompasses the Witherbloom campus, and it is known for a range of swamp creatures: bats, crocodilian monsters, zombified animals, lumbering beasts called brackish trudges, and canine creatures called groffs. It is an excellent place to find pest mascots, herbs, spider silk, fungi, and any other ingredient for potions or spells.</p>
<p><strong>Widdershines Hall:</strong>
    The heard of the Witherbloom campus is a bog mansion that looks like it grew out of Sedgemoor itself. Widdershins Hall is a network of interconnected wooden pods, in which you can fun many chambers where students love to gather for classwork.</p>
<p><strong>Wiltroot Hall:</strong>
    Don't be fooled by this hall being located on the outer grounds of Witherbloom's campus, it is normally a safe locale.
    It consists of a series of platforms and observation platforms that allow you to view much of the local wildlife in its natural habitat from a safe distance. The central hall also commonly has lectures happening in it on several Arcano-Biology subjects.</p>
<p><strong>Detention Bog:</strong>
    If you're good and don't break any rules you will be lucky to never have to encounter the Detention Bog. It is a stinking, thoroughly unpleasant marshland. It is however an excellent place to gather herbs for certain cures and curses.</p>