body {

}

.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    .bg-container img {
        position: center;
        width: 100%;
        height: 100%;
    }
    .bg-container:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
    }

main .locations {
    z-index: 1;
    position: relative;
    height: 100%;
}
    main .locations .silverquill {
        position: absolute;
        left: 48.5%;
        top: 20%;
    }
    main .locations .prismari {
        position: absolute;
        left: 22.5%;
        bottom: 13%;
    }
    main .locations .lorehold {
        position: absolute;
        left: 26%;
        top: 36%;
    }
    main .locations .qundrix {
        position: absolute;
        right: 19.75%;
        top: 37%;
    }
    main .locations .witherbloom {
        position: absolute;
        right: 24.75%;
        bottom: 14%;
    }
    main .locations .main_campus {
        position: absolute;
        left: 48.75%;
        top: 44%;
    }
    main .locations button {
        background-color: transparent;
        border: none;
    }
        main .locations button:hover {
            cursor: pointer;
        }
        main .locations button img {
            height: 5vh;
        }

.card {
    z-index: 50;
    background-image: url(../../assets/collegebackground.jpg);
    background-size: cover;
    position: absolute;
    top: 16vh;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 25px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    background-color: grey;
}
    .card .topheader {
        height: 13vh;
        width: 100%;
        display: inline-flex;
    }
        .card .topheader .logo {
            padding: 1%;
            max-width: 8%;
            max-height: 80%;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
            .card .topheader .logo img{
                width: 100%;
                height: 100%;
            }
        .card .topheader .topbot {
            width: 100%;
            max-width: 30%;
        }
            .card .topheader .topbot .collegetitle {
                font-family: 'MilleniGem', sans-serif;
                line-height: 2.5;
                height: 60%;
                font-size: 45px;
                font-weight: bold;
                word-spacing: -6px;
            }
            .card .topheader .topbot .quote {
                height: 40%;
                font-style: italic;
            }
        .card .topheader .topclose {
            height: 20%;
        }
        .card .topheader .closebutton {
            padding-right: 5px;
            border: none;
            margin-right: 10px;
            position: absolute;
            color: darkslategray;
            top: 10px;
            right: 0;
            background-color: transparent;
            font-weight: bold;
            font-size: 16px;
        }
        .closebutton:hover {
            cursor: pointer;
        }
.card .topheader .collegedet {
    position: absolute;
    top: 7%;
    left: 47.5%;
    font-size: 18px;
    margin-right: 15px;
}
.card .content {
    height: 50vh;
    width: 100%;
    display: flex;
}
        .card .content .map {
            height: 97.5%;
            width: 50%;
            margin: 5px;
        }
        .card .content .map img {
            width: 100%;
        }
    .card .content .text {
        width: 55%;
        margin: 9px;
        padding-right: 20px;
    }

.maintext {
    font-size: 17px;
    text-align: justify;
}
    .maintext strong{
        font-size: 20px;
    }

.start {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1520px) {
    .card .topheader .topbot .collegetitle {
        font-size: 30px;
    }
    .card .topheader .collegedet {
        font-size: 16px;
    }
    .maintext {
        font-size: 16px;
        text-align: justify;
    }
        .maintext strong {
            font-size: 18px;
        }
    .card .topheader .logo {
        max-width: 6%;
        max-height: 75%;
    }
}