body {
    background-image: url(../../assets/strix_map.png);
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 100% 135%;
}

.locname {
    z-index: 1;
    position: relative;
    text-align: center;
}
    .locname .silverquill {
        position: fixed;
        left: 47.55%;
        top: 20%;
    }
    .locname .prismari {
        position: fixed;
        left: 26%;
        bottom: 16%;
    }
    .locname .lorehold {
        position: fixed;
        left: 29%;
        top: 39%;
    }
    .locname .qundrix {
        position: fixed;
        right: 23%;
        top: 38%;
    }
    .locname .witherbloom {
        position: fixed;
        right: 28%;
        bottom: 15%;
    }
    .locname .main_campus {
        position: fixed;
        left: 47.7%;
        top: 46.5%;
    }
    .locname button {
        background-color: transparent;
        color: black;
        font-size: 40px;
        font-weight: bold;
        padding: 10px;
        border: none;
    }
        .locname button:hover {
            cursor: pointer;
        }
    .locname button img {
        height: 50px;
    }

.card {
    background-image: url(../../assets/collegebackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 135%;
    position: fixed;
    margin-left: 270px;
    margin-top: 5px;
    right: 20px;
    left: 10px;
    max-height: 100%;
    height: 68.5%;
    width: calc(1620px - 270px);
    border-radius: 25px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    background-color: grey;
}
    .card .header {
        height: 20%;
        width: 100%;
    }
    .card .header .topbot{
        width: 39%;
    }
        .card .header .topbot .collegetitle {
            margin: 5px;
            height: 45%;
            font-family: 'MilleniGem', sans-serif;
            font-size: 38px;
            font-weight: bold;
            line-height: 100px;
        }
        .card .header .topbot .quote {
            margin: 5px;
            margin-top: 10px;
            font-style: italic;
            line-height: 30px;
        }
        .card .header .closebutton {
            padding: 10px; 
            background-color: transparent; 
            border: none;
        }
        .closebutton:hover {
            cursor: pointer;
        }
    .card .header .collegedet{
        margin: 5px;
        text-align: left;
    }
.card .content {
    height: 78%;
    width: 100%;
    display: flex;
}
        .card .content .map {
            height: 97.5%;
            width: 50%;
            margin: 5px;
        }
        .card .content .map img {
            width: 100%;
        }
        .card .content .text{
            margin: 5px;
            width: 50%;
        }
            .card .content .text .page {
                margin-left: 5px;
                margin-top: 5px;
                height: 97%;
            }
            .card .content .text .page .section{
                margin-top: 5px;
                height: 87.5%;
            }

