body {
    background-image: url(../../assets/strix_map.png);
    background-size: cover;
    background-color: white;
}

main .locations {
    z-index: 1;
    position: relative;
    height: 100%;
}
    main .locations .silverquill {
        position: absolute;
        left: 47.5%;
        top: 35px;
    }
    main .locations .prismari {
        position: absolute;
        left: 30%;
        bottom: 8%;
    }
    main .locations .lorehold {
        position: fixed;
        left: 29%;
        top: 39%;
    }
    main .locations .qundrix {
        position: fixed;
        right: 23%;
        top: 38%;
    }
    main .locations .witherbloom {
        position: fixed;
        right: 28%;
        bottom: 15%;
    }
    main .locations .main_campus {
        position: fixed;
        left: 47.7%;
        top: 46.5%;
    }
    main .locations button {
        background-color: transparent;
        border: none;
    }
        main .locations button:hover {
            cursor: pointer;
        }
        main .locations button img {
            height: 50px;
        }

.parent {
    position: relative;
    height: 200px;
    border: 1px solid black;
}

.child-group {
    border: 2px solid green;
    position: absolute;
    top: 0;
    left: 0;
}

.child {
    float: left;
    height: 90px;
    width: 70px;
    border: 1px solid red;
}


.card {
    background-image: url(../../assets/collegebackground.jpg);
    background-size: cover;
    position: fixed;
    margin-left: 270px;
    margin-right: 15%;
    border-radius: 25px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    background-color: grey;
}
    .card .topheader {
        height: 15vh;
        width: 100%;
        display: inline-flex;
    }
        .card .topheader .logo {
            width: 11vw;
            height: 100%;
            display: inline-block;
        }
            .card .topheader .logo img{
                width: 100%;
                height: 100%;
            }
        .card .topheader .topbot {
            width: 100%;
            max-width: 30%;
            text-align: center;
        }
            .card .topheader .topbot .collegetitle {
                font-family: 'MilleniGem', sans-serif;
                height: 50%;
                font-size: 38px;
                font-weight: bold;
                
            }
            .card .topheader .topbot .quote {
                height: 50%;
                font-style: italic;
            }
        .card .topheader .topclose {
            height: 30%;
        }
        .card .topheader .closebutton {
            padding-right: 5px;
            border: none;
            margin-right: 10px;
            position: absolute;
            top: 10px;
            right: 0;
            background-color: transparent;
            font-weight: bold;
        }
        .closebutton:hover {
            cursor: pointer;
        }
.card .topheader .collegedet {
    margin-right: 5px;
    text-align: left;
    height: 69%;
    width: 100%;
}
.card .content {
    height: 50vh;
    width: 100%;
    display: flex;
}
        .card .content .map {
            height: 97.5%;
            width: 50%;
            margin: 5px;
        }
        .card .content .map img {
            width: 100%;
        }
    .card .content .text {
        width: 55%;
        margin-right: 10px;
        padding-right: 10px;
    }

