<div class="colL">
    <div class="joblisting">
        <div class="jobwrapper">
            <p class="title">
                Job Title
            </p>
            <p class="place">
                'Market Place'
            </p>
        </div>
        <p class="desc">
            Job description
        </p>
    </div>
    <div class="joblisting">
        <div class="jobwrapper">
            <p class="title">
                Job Title
            </p>
            <p class="place">
                'Market Place'
            </p>
        </div>
        <p class="desc">
            Job description
        </p>
    </div>
    <div class="joblisting">
        <div class="jobwrapper">
            <p class="title">
                Job Title
            </p>
            <p class="place">
                'Market Place'
            </p>
        </div>
        <p class="desc">
            Job description
        </p>
    </div>
    <div class="joblisting">
        <div class="jobwrapper">
            <p class="title">
                Job Title
            </p>
            <p class="place">
                'Market Place'
            </p>
        </div>
        <p class="desc">
            Job description
        </p>
    </div>
</div>
<div class="colR">
    <div class="joblisting">
        <div class="jobwrapper">
            <p class="title">
                Job Title
            </p>
            <p class="place">
                'Market Place'
            </p>
        </div>
        <p class="desc">
            Job description
        </p>
    </div>
    <div class="joblisting">
        <div class="jobwrapper">
            <p class="title">
                Job Title
            </p>
            <p class="place">
                'Market Place'
            </p>
        </div>
        <p class="desc">
            Job description
        </p>
    </div>
    <div class="joblisting">
        <div class="jobwrapper">
            <p class="title">
                Job Title
            </p>
            <p class="place">
                'Market Place'
            </p>
        </div>
        <p class="desc">
            Job description
        </p>
    </div>
</div>