body {
    background-image: url(../../assets/star/paper_1.jpg);
    background-size: cover;
    background-color: black;
}

main .paperdate {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    height: 3%;
}

.show {
    display: block;
    z-index: 10;
}    
.hide{
    display: none;
}

.RCorn {
    width: 1%;
    position: absolute;
    top: 3.5%;
    right: 0;
    height: 30px;
    width: 30px;
    background: linear-gradient(-135deg, black 50%, #f3e4ce 0);
    transition: 0.5s;
    box-shadow: -5px 5px 5px black;
}
.RCorn:hover {
    height: 50px;
    width: 50px;
}
.LCorn {
    width: 1%;
    position: absolute;
    top: 3.5%;
    left: 0;
    height: 30px;
    width: 30px;
    background: linear-gradient(135deg, black 50%, #f3e4ce 0);
    transition: 0.5s;
    box-shadow: 5px 5px 5px black;
}
    .LCorn:hover {
        height: 50px;
        width: 50px;
    }

p {
    margin: 0;
}

.pg1 {
    display:flex;
    padding-left: 3%;
    position: absolute;
    height: 100%;
    width: 94%;
    text-align: left;
}
    .pg1 .leftcol {
        height: 100%;
        width: 70%;        
    }
    .pg1 .rightwrapper {
        border-left: 2px solid #2f2f2f;
        position: relative;
        height: 100%;
        width: 30%;
    }
        .pg1 .rightwrapper div {
            height: 50%;
            padding-right: 3%;
            padding-left: 1%;
        }
        .pg1 .rightwrapper .top {
        }
        .pg1 .rightwrapper .bot {
        }
            .pg1 .rightwrapper .bot:before {
                border-top: 2px solid #2f2f2f;
                content: '';
                display: block;
                margin-left: 15px;
                margin-right: 15px;
            }

:root {
    --pg2colwidth: calc(100%/3);
}
.pg2 {
    display: flex;
    padding-left: 3%;
    position: absolute;
    height: 100%;
    width: 94%;
    text-align: left;
}
    .pg2 .left {
        height: 100%;
        width: var(--pg2colwidth);
    }
    .pg2 .midwrapper {
        height: 100%;
        width: var(--pg2colwidth);
        border-left: 2px solid #2f2f2f;
        border-right: 2px solid #2f2f2f;
    }
        .pg2 .midwrapper .top {
            height: 50%;
            width: 100%;
        }
        .pg2 .midwrapper .bot {
            height: 50%;
            width: 100%;
        }
            .pg2 .midwrapper .bot:before {
                border-top: 2px solid #2f2f2f;
                content: '';
                display: block;
                margin-left: 15px;
                margin-right: 15px;
            }
    .pg2 .right {
        height: 100%;
        width: var(--pg2colwidth);
    }

.pg3 {
    display: flex;
    padding-left: 3%;
    position: absolute;
    height: 100%;
    width: 94%;
    text-align: left;
}
    .pg3 .colL {
        width: 50%;
        height: 100%;
    }
    .pg3 .colR {
        width: 50%;
        height: 100%;
        border-left: 2px solid #2f2f2f;
    }
    .pg3 .joblisting{
        position: relative;
        border: 1px solid;
        margin: 15px 5px 0 5px;
        padding: 2px;
    }
        .pg3 .joblisting + .joblisting {
            margin: 5px 5px 0 5px;
        }
        .pg3 .joblisting .jobwrapper{
            display:flex;
        }
            .pg3 .joblisting .jobwrapper .title {
                font-weight: bold;
            }
            .pg3 .joblisting .jobwrapper .title:after {
                content: ' -';
            }
            .pg3 .joblisting .jobwrapper .place {
                font-style: italic;
            }
            .pg3 .joblisting .jobwrapper .place:before {
                content: ' - ';
            }
        .pg3 .joblisting .desc {
            margin: 0;
        }

.headline {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    display: block;
    padding: 10px 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
}
.author {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    text-align: center;
}
.author:before {
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.author:after {
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;
}
.content{
    padding: 10px;
    text-align: justify;
    font-size: 14px;
}

    /*

.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 100%;
}
                */