body {
    background-image: url(../../assets/about_bg_1.webp);
    background-size: cover;
    background-color: white;
}

.image-background-text {
    height: 100%;
    margin: 0% 0% 0% 0%;
}

.text-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 60%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(7px);
    background: transparent;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1540px) {
    .text-overlay {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 1300px) {
    .text-overlay {
        font-size: 1rem;
        width: 90%;
    }
    q {
        font-size: 1.75rem;
    }
}
@media only screen and (max-width: 750px) {
    .text-overlay {
        font-size: 0.9rem;
        width: 98%;
    }
    q {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 500px) {
    .text-overlay {
        font-size: 0.9rem;
        padding: 0px 10px 0px 10px;
    }
    p{
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 400px) {
    body {
        overflow-y: auto;
        overflow-x: auto;
    }
    .text-overlay {
        top: 46%;
    }
}
@media only screen and (max-width: 380px) {
    .text-overlay {
        top: 49%;
    }
}
@media only screen and (max-width: 375px) {
    .text-overlay {
        top: 42%;
        font-size: 0.8rem;
    }

    q {
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 260px) {
    .text-overlay {
        top: 50%;
    }

}