body {
    background-image: url(../../assets/about_bg_1.webp);
    background-size: cover;
    background-color: white;
}

.image-background-text {
    height: 100%;
    margin: 0%;
}

.text-overlay {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    width: 60%;
    -moz-backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background: transparent;
    font-size: 1.2rem;
}

@media only screen and (max-width: 2560px) {
    .text-overlay {
        font-size: 1.5rem;
    }
    q {
        font-size: 2.75rem;
    }
}
@media only screen and (max-width: 1945px) {
    .text-overlay {
        font-size: 1.2rem;
    }

    q {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 1540px) {
    .text-overlay {
        height: auto;
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 1300px) {
    .text-overlay {
        font-size: 1.2rem;
        width: 90%;
    }

    q {
        font-size: 1.75rem;
    }
}
@media only screen and (max-width: 995px) {
    .text-overlay {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 870px) {
    .text-overlay {
        margin: 0 0px 0 0px;
    }
}
@media only screen and (max-width: 780px) {
    .text-overlay {
        font-size: 0.9rem;
        width: 98%;
    }
    q {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 500px) {
    .text-overlay {
        font-size: 0.9rem;
        padding: 0px 10px 0px 10px;
    }
    p{
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 400px) {
    body {
        overflow-y: auto;
        overflow-x: auto;
    }
}
@media only screen and (max-width: 375px) {
    .text-overlay {
        font-size: 0.8rem;
    }

    q {
        font-size: 1.25rem;
    }
}
