body {
    position: relative;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7893c980-c0bf-4672-a650-8cbf3703c5b8/dg8rf2j-2ed49ef7-fd60-4241-9730-3ab8ad153ef1.png/v1/fill/w_1182,h_676,q_70,strp/magic_school__library_by_susannjefferson_dg8rf2j-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzMyIiwicGF0aCI6IlwvZlwvNzg5M2M5ODAtYzBiZi00NjcyLWE2NTAtOGNiZjM3MDNjNWI4XC9kZzhyZjJqLTJlZDQ5ZWY3LWZkNjAtNDI0MS05NzMwLTNhYjhhZDE1M2VmMS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.UplXI4BLjm4edBqHjc1zF5fL_IhICxKCFzi-gcCxnd0);
    background-size: cover;
    background-color: gray;
    background-repeat: no-repeat;
    overflow: auto;
}
header .thenavigation .hamburger {
    color: white;
}
main {
    display: flex;
    flex-direction: row;
}
:root {
    --argyle: repeating-linear-gradient( 120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px ), repeating-linear-gradient( 60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px ), linear-gradient( 60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) ), linear-gradient( 120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) );
    background-size: 70px 120px;
    --tartan: repeating-linear-gradient( transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px ), repeating-linear-gradient( 270deg, transparent, transparent 50px, rgba(0, 0, 0, 0.4) 50px, rgba(0, 0, 0, 0.4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, 0.4) 63px, rgba(0, 0, 0, 0.4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, 0.5) 116px, rgba(0, 0, 0, 0.5) 166px, rgba(255, 255, 255, 0.2) 166px, rgba(255, 255, 255, 0.2) 169px, rgba(0, 0, 0, 0.5) 169px, rgba(0, 0, 0, 0.5) 179px, rgba(255, 255, 255, 0.2) 179px, rgba(255, 255, 255, 0.2) 182px, rgba(0, 0, 0, 0.5) 182px, rgba(0, 0, 0, 0.5) 232px, transparent 232px ), repeating-linear-gradient( 125deg, transparent, transparent 2px, rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, 0.2) 5px );
    --bookSize: 220px;
    --shelfSize: 232px;
    --transX: 207px;
}

.subNav {
    z-index: 2;
    flex: 0.1;
    display: flex;
    flex-direction: column;
    background-image: url('https://cdn.discordapp.com/attachments/1045792079747502201/1155539578959187989/new_wood.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* top-left top-right bottom-right bottom-left */
    border-radius: 0 10px 10px 0;
}
    .subNav .subNavChoice {
        flex: 1;
        color: darkgoldenrod;
        font-weight: bold;
        position: relative;
    }
    .subNav .subNavChoice span {
        background-color: papayawhip;
        border-radius: 30px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

.bookshelf {
    z-index: 0;
    position: absolute;
    width: 1650.98px;
    height: 100%;
    transform: translateX(-100%);
    transition-duration: 1s;
    background-image: url('https://cdn.discordapp.com/attachments/1045792079747502201/1155541447211229234/bookcase1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.shelf-1 {
    position: relative;
    padding: 1.5% 0 0 2.5%;
    width: 1552.41px;
    height: var(--shelfSize);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.book {
    height: var(--bookSize);
    transform-style: preserve-3d;
    transform: translateZ(0) rotateY(0);
    transition: transform 1s;
    z-index: 0;
}
    .book + .book {
        margin-left: 10px;
    }

.side {
    position: absolute;
    border: 2px solid black;
    border-radius: 3px;
    font-weight: bold;
    color: black;
    text-align: center;
    transform-origin: center left;
}

.spine {
    position: relative;
    width: 50px;
    height: var(--bookSize);
    transform: rotateY(0deg) translateZ(0px);
}
.spine-title {
    margin: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.2rem;
    color: gold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 100%;
}
.spine-author {
    position: absolute;
    color: goldenrod;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.top {
    width: 50px;
    height: 190px;
    top: -2px; /* hmm, why -2 and not 0? */
    background-image: linear-gradient(90deg, white 90%, gray 10%);
    background-size: 5px 5px;
    transform: rotateX(90deg) translateZ(95px) translateY(-95px);
}
.cover {
    width: 190px;
    height: var(--bookSize);
    top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    left: 50px;
    transform: rotateY(90deg) translateZ(0);
    transition: transform 1s;
}

.book .link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.book:hover {
    z-index: 1;
    transform: rotateX(-25deg) rotateY(-40deg) rotateZ(-15deg) translateY(50px) translateX(-30px);
}

@media only screen and (max-width: 1536px) {
    .bookshelf {
        width: 1325px;
    }
    .shelf-1 {
        width: 1200px;
        
    }
    .spine-title {
        font-size: 0.8rem;
    }
    :root {
        --bookSize: 165px;
        --shelfSize: 170px;
        --transX: 165px;
    }
}

@media only screen and (max-width: 1350px) {

}

@media only screen and (max-width: 1225px) {

}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 625px) {

}