body {
    background-image: url(../../assets/star/paper_1.jpg);
    background-size: cover;
    background-color: black;
}

header .pagetitle {
    font-family: 'Last Rite', sans-serif;
}

main, p, h2, Mainheadline {
    font-family: 'Underwood319', sans-serif;
    font-size: 1rem;
}

.topcontainer {
    position: relative;
    padding: 15px;    
    width: 90%;
    margin: 0 5% 0 5%;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
}
.issue {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    padding: 5px;
    left: 5%;
    text-align: left;
}
.issue:before{
    content: "No. ";
}
.slogan {
    text-transform: uppercase;
    text-align: center;
}
.paperdate {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #2f2f2f;
    padding: 5px;
    right: 5%;
    text-align: right;
}

.show {
    display: block;
}    
.hide{
    display: none;
}

.bodycontainer {
    position: relative;
    padding: 0 15px 15px 15px;
    width: 90%;
    height: 95%;
    margin: 0 5% 0 5%;
}


.RCorn {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    background: linear-gradient(-135deg, black 50%, #f3e4ce 0);
    transition: 0.5s;
    box-shadow: -3px 3px 3px black;
}
    .RCorn:hover {
        height: 65px;
        width: 65px;
    }
.LCorn {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: linear-gradient(130deg, black 50%, #f3e4ce 0);
    transition: 0.5s;
    box-shadow: -3px 3px 3px black;
}
    .LCorn:hover {
        height: 65px;
        width: 65px;
    }

:root {
    --pg2colwidth: calc(100%/3);
    --colpadding: 15px;
}

.page {
    height: 755px;
    padding: 0 50px 0 50px;
    position: relative;
    display: block;
}
.contentContainer{
    display: flex;
    height: 100%;
}

.pg1 {
    padding: 0 50px 0 0;
}
    .pg1 .contentContainer{
        flex-direction: column;
    }
    .pg1 h1 {
        flex: .1;
        text-align: center;
        font-size: 2.75rem;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    .pg1 .secContainer {
        flex: .9;
        display: flex;
        position: relative;
    }
        .pg1 .secContainer .leftcol {
            position: relative;
            overflow: hidden;
            flex: .3;
        }
            .pg1 .secContainer .leftcol video {
                max-height: 100%;
                max-width: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        .pg1 .secContainer .right {
            margin-left: 15px;
            padding: 0 15px 5px 15px;
            border-left: 2px solid #2f2f2f;
            flex: .7;
            column-count: 2;
            white-space: pre-line;
            font-size: 1.1rem;
            text-align: left;
            column-fill: balance;
        }

.pg2 {
    text-align: left;
    flex-direction: row;
}
    .pg2 h2{
        font-size: 1.3rem;
    }
    .pg2 p {
        font-size: 1.1rem;
    }
    .pg2 .left, .pg2 .right {
        padding: var(--colpadding);
        flex: 1;
    }
    .pg2 .midwrapper {
        flex: 1;
        border-left: 2px solid #2f2f2f;
        border-right: 2px solid #2f2f2f;
        position: relative;
        display: flex;
        flex-direction: column;
    }
        .pg2 .midwrapper .top {
            padding: var(--colpadding);
            flex: 1;
        }
        .pg2 .midwrapper .bot {
            padding: var(--colpadding);
            flex: 1;
        }
            .pg2 .midwrapper .bot:before {
                border-top: 2px solid #2f2f2f;
                content: '';
                display: block;
                margin-left: 15px;
                margin-right: 30px;
            }

.pg3 {
    padding: 0 0 0 50px;
    text-align: left;
}
    .pg3 .jobs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 10px;
    }
    .pg3 .jobs .job{
        border: solid 1px black;
        flex-basis: 23%;
        padding: 5px;
        position: relative;
    }
        .pg3 .jobs .job h3 {
            margin: 0;
            font-size: 1.1rem;
        }
        .pg3 .jobs .job .details{
            display: flex;
            flex-direction: row;
        }
            .pg3 .jobs .job .details p {
                margin: 0;
                font-size: 0.9rem;
                flex: .7;
            }
                .pg3 .jobs .job .details p + p{
                    margin-left: 5px;
                    padding-left: 5px;
                    border-left: 1px solid black;
                    flex: .3;
                }

                .pg3 .jobs .job button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 30px;
                    height: 100%;
                    margin: 0;
                    border: none;
                    font-size: 0.8rem;
                    border-left: 1px solid black;
                    background-color: darkgoldenrod;
                    color: white;
                    padding: 0;
                }
            .pg3 .jobs .job button:hover {
                cursor: pointer;
            }
            .pg3 .jobs .job button:active {
                background-color: black;
                color: darkgoldenrod;
            }
                    .pg3 .jobs .job button span {
                        display: block;
                        height: 30px;
                        position: absolute;
                        top: 2px;
                        right: 0;
                        width: auto;
                        transform: translateY(-50%);
                        margin: 0;
                        transform: rotate(90deg);
                        padding: 9px 0 0 0;
                    }

.headline {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    display: block;
    padding: 0 0 0 0;
    font-weight: 700;
    text-transform: uppercase;
}
.author {
    font-weight: 700;
    font-size: 0.7rem;
    text-align: center;
}
    .author:before {
        border-top: 1px solid #2f2f2f;
        content: '';
        width: 50px;
        display: block;
        margin: 0 auto 0 auto;
    }
    .author:after {
        border-bottom: 1px solid #2f2f2f;
        content: '';
        width: 50px;
        display: block;
        margin: 0 auto 0 auto;
    }
.content{
    padding: 10px;
    text-align: justify;
    font-size: 1rem;
}

@media only screen and (max-width: 1540px) {
    .RCorn {
        height: 40px;
        width: 40px;
    }
        .RCorn:hover {
            height: 50px;
            width: 50px;
        }
    .LCorn {
        height: 40px;
        width: 40px;
    }
        .LCorn:hover {
            height: 50px;
            width: 50px;
        }

    .topcontainer {
        padding: 15px 0 15px 0;
        width: 100%;
        margin: 0;
    }
    
    .contentContainer{
        height: 89%;
    }
    .pg1 .secContainer .right{
        font-size: 1.25rem;
    }
    .pg3 .jobs .job {
        flex-basis: 32%;
    }
}
@media only screen and (max-width: 1155px) {
    body {
        overflow-y: auto;
    }
    .pg1 .secContainer {
        flex-direction: column;
    }
        .pg1 .secContainer .right {
            margin-left: 15px;
            margin-top: 15px;
            padding: 0 15px 5px 15px;
            border-left: none;
            flex: 1;
            column-count: 2;
        }
}
@media only screen and (max-width: 1100px) {
    .pg1 .secContainer .leftcol {
        display: none !important;
    }
    .pg1 .secContainer .right {
        margin-top: 0;
    }
}
@media only screen and (max-width: 855px) {
    .pg1 .secContainer .right {
        column-count: 1;
        margin: 0;
    }
}
